[2019-09-13 14:52] jans23 opened #1 "CTAP error: 0x27 - OPERATION_DENIED"
Several commands yields to the same error. Example `make-credential` and `reset`.
[code]

[2019-11-27 19:21] szszszsz opened #2 "Verify Nitrokey certificate"
Add support for Nitrokey certificate for the `validate` command.

[2019-12-20 13:00] szszszsz commented on #1
These errors were caused by immediate deny of the FIDO2 request. Now the in-device polling for the UP check is activated, and issue should manifest anymore.
Closing as fixed.

[2019-12-20 13:00] #1 closed

[2020-04-18 12:24] daringer opened #3 "update README.md for clarification about status?"
Hey hey,

recently got a *Nitrokey FIDO2*, eager to get lower level/devel access to the device I found this project, which caught my attention with the sub-title: **Python client for Nitrokey FIDO2, based on Solo**

Scrolled through the README and was triggered by "update firmware", instantly running:
[code]
left me with the **key stuck in bootloader-mode**, as the command still tries to flash the

[2020-05-11 13:38] szszszsz commented on #2
Initial support added in 7b9d39f8533670e2574f614ea113c17bcb3c16af

[2020-05-11 14:42] szszszsz commented on #3
Hi @daringer!

Sorry for the late reply, and the confusion made because of missing warning about being it a work in progress. I have corrected that with the latest release.

The automatic firmware update is disabled for now, as I have not found time yet to test it. We plan to use browser based update instead as the main method - more in the project's readme file.
Your steps for reviving the device

[2020-05-11 14:44] szszszsz opened #4 "Allow development access to the device"
To decide, how to allow development access to the device - whether this would be realized by the upstream (with a requested change of custom VID:PID for connection), or by releasing this project to repository, with a renamed module (or both?).

[2020-06-15 09:32] szszszsz commented on #4
Make sure the names do not clash with Solo-python

[2020-06-15 09:34] szszszsz commented on #2
Works in current `master` with production firmware. Closing.

[2020-06-15 09:34] #2 closed

[2020-06-15 09:38] szszszsz opened #6 "Move NK FIDO2 related commands under fido2"
Move the rest of the NK FIDO2 related commands under `fido2.util` subcommand.
Related: #5

I think ideal organization would be:
Top:
- fido2
- start
- ls
- version

The commands under `fido2.util`:
- genkey
- mergehex
- monitor
- program
- sign

[2020-06-15 09:38] szszszsz commented on #6
cc @daringer

[2020-06-15 10:18] szszszsz opened #7 "Set CI"
Configure CI for build test and code quality check

[2020-06-15 10:19] #7 closed

[2020-06-15 10:21] szszszsz opened #8 "Automatic code reformat"
Run linting tools and apply suggested changes.

[2020-06-18 10:35] #6 closed

[2020-06-18 10:52] szszszsz commented on #8
Some results in #9

[2020-06-18 10:54] szszszsz opened #12 "Rename package to nitrokey"
Rename package to nitrokey. Make sure the names do not clash with Solo-python.

Connected: #4

[2020-06-18 11:36] szszszsz opened #13 "Missing file for NK Start update"
Details:

![update_nitrokey_start](https://user-images.githubusercontent.com/17005426/85015672-a4557300-b168-11ea-8dc1-86dd732aab5b.png)

[2020-06-18 11:37] szszszsz commented on #13
cc @daringer

[2020-06-18 12:24] #13 closed

[2020-06-18 12:28] szszszsz commented on #13
Tested by running the update for NK Start out of the source directory.

[2020-06-18 12:30] szszszsz opened #15 "Correct CI"
At the moment CI fails with:

[code]

- [x] To correct
- [x] Build MSI package for Windows #26

[2020-06-18 12:40] #3 closed

[2020-06-18 15:09] szszszsz commented on #12
Fixed with https://github.com/Nitrokey/nitro-python/pull/16

[2020-06-18 15:09] #12 closed

[2020-06-18 15:09] szszszsz commented on #4
Fixed with #12

[2020-06-18 15:09] #4 closed

[2020-06-19 11:38] szszszsz opened #17 "Update to the latest upstream"
Update to the latest upstream if not done already.
Features:
- PIN change command
- corrections for subcommands
- dependencies update

[2020-06-22 12:46] szszszsz commented on #15
Mostly fixed with f46bd385d396c25c36e1751bb820f1f9bfc695c9

[2020-06-22 12:48] szszszsz opened #19 "Missing util subcommands"
It looks like the `util` submenu for commands is missing.
Current output (fbd309f):
[code]

[2020-06-22 12:52] szszszsz opened #20 "Final branding corrections"
Final branding corrections needed to be done:
- [ ] udev rules message
- [ ] hmac_secret host default value
- [ ] description of the module

Found excerpts:
[code]

[2020-06-22 13:09] szszszsz opened #21 "Automatic firmware update for Nitrokey FIDO2"
Enable back and configure properly the update feature for the Nitrokey FIDO2.

It was removed in 6e7fa79c80104fdd48beab38c5c8b42053a3dd2c - [code block start](https://github.com/Nitrokey/pynitrokey/commit/6e7fa79c80104fdd48beab38c5c8b42053a3dd2c#diff-22685abafd1b73152b51c479b1b7840eL52).

[2020-06-22 13:19] szszszsz commented on #20
For the udev rules, the URLs are:
- file: https://raw.githubusercontent.com/Nitrokey/libnitrokey/master/data/41-nitrokey.rules
- documentation: https://www.nitrokey.com/documentation/installation#p:nitrokey-fido2&os:linux

[2020-06-22 13:35] szszszsz commented on #15
I got it broken again unfortunately, due to trying to call the `nitropy` after flit installation.
It works on Python 3.8 though: https://travis-ci.org/github/Nitrokey/nitro-python/jobs/700871763

[2020-06-22 15:38] #19 closed

[2020-06-22 15:38] #20 closed

[2020-06-25 14:01] szszszsz opened #24 "Permission denied for log file"
Following error message is shown, when user runs the tool inside directory without write access:
[code]

Edit: when run in home directory it works as advertised
Potential solution: on write error get random `/tmp` file path, or set it unconditionally

[2020-06-25 14:34] #24 closed

[2020-07-23 14:04] #21 closed

[2020-07-23 14:35] szszszsz opened #27 "Windows: no backend available"
Nitropy cannot view USB devices out of the box.
Stack trace:
[code]

[2020-07-23 14:37] szszszsz opened #28 "UI: guard for Windows for NK Start listing"
Add guard for now so that #27 would not show up to user, but hidden behind friendly message, like "NK Start management is not supported on this platform at the moment".

[2020-07-23 14:51] szszszsz opened #29 "Windows MSI build not always working"
It looks like the MSI build for Windows distribution is not always working.
To better describe setup process to avoid pitfalls. Ideally add to CI as well #15.

[2020-07-28 07:38] #28 closed

[2020-07-28 07:39] szszszsz opened #32 "Show KDF object details"
Show KDF object details for Nitrokey Start

[2020-07-28 07:43] #32 closed

[2020-07-28 07:47] szszszsz opened #33 "Pin used dependencies with PipLock"
To introduce automatic pinning, e.g. with [Pipenv](https://pipenv.pypa.io/en/latest/) tool.
@daringer : what do you think?

[2020-07-28 07:47] szszszsz commented on #29
Issue came from the latest release of the MSI builder, hence the difference between setups.
https://github.com/Nitrokey/pynitrokey/issues/33 should solve the problem.

[2020-07-28 08:16] daringer commented on #33
Yap, sounds good

[2020-07-28 08:18] daringer commented on #29
To be precise:
* cxfreeze is working but the MSI is not created
* this is a [known bug in cxfreeze](https://github.com/marcelotduarte/cx_Freeze/issues/693)
* pinning the version to 6.2 worked, current git (master) should also work

[2020-08-04 10:27] szszszsz opened #34 "Ask user to send logs on the update failure"
Ask user to send logs to support email on the update failure.
- [x] Nitrokey Start
- [x] Nitrokey FIDO2

[2020-08-05 13:57] szszszsz opened #35 "List all connected devices on update failure"
Collect all USB connected devices with VID:PID of our devices in case of an update failure to see, whether these were working and recognized by the OS at all.

Edit: add this report to the final log

[2020-08-15 13:39] dvzrv commented on #33
As you are already using pyproject.toml, why not use poetry instead of pipenv?

[2020-08-15 15:28] dvzrv opened #36 "Update/unpin fido2 dependency"
Hi! I'm currently baking a package for Arch Linux. Unfortunately I'm running into integration problems with the fido2 dependency.

The fido2 package has been on > 0.7.3 since November 2019 and on Arch Linux we're currently already shipping 0.8.1.
It would be most awesome to update this dependency so that this tool can be packaged.

Currently I'm helping the process along by using this patch:

[cod

[2020-08-17 09:52] dvzrv commented on #36
Tinkering a bit more with the package, I realized that there are other inconsistencies irt fido2.
To be able to use a package manager to install this on Arch Linux an update to support the latest fido2 library would be much appreciated!

[2020-08-17 11:08] dvzrv opened #37 "Evaluate using solo-python as a library instead of forking it"
When looking at solo's [documentation](https://docs.solokeys.dev/porting/), it seems that an easier way to do pynitrokey would be to rely on solo as a library.

Is there a specific reason, why a fork was chosen instead? This seems to introduce a lot of overhead in developing this library/application and staying in sync with solo-python.

[2020-08-17 12:02] szszszsz commented on #37
Hi @dvzrv !

Good spot. You are right - in general there is no need to double the source code. We were evaluating that approach initially and probably will transform to use solo-python as a library in the future, once their API will be properly enhanced (PRs planned; some were sent already I believe). For the initial releases it was faster to fork though, and add our own required features for othe

[2020-08-17 12:09] szszszsz commented on #29
Hi!
@daringer Could this be closed? This blocks the v0.4 release.

[2020-08-17 12:11] szszszsz commented on #36
Hi!
Indeed. I believe there are some calling diff's as well. Will look.

[2020-08-17 12:48] daringer commented on #29
yep, can do.
`cxfreeze` can be kept at 6.2 for now, don't see a need for an update

[2020-08-17 15:46] szszszsz opened #39 "Bootloader connection improvements"
Nitrokey Start update: improve connection process after bootloader upload:
- [x] repeat bootloader connection attempt
- [x] additional delay allowing for the bootloader to start
- [x] remove the misleading message about reinsertion for the bootloader connection failure

Connected: https://github.com/Nitrokey/nitrokey-start-firmware/issues/51
Details: https://support.nitrokey.com/t/nitrokey-start-u

[2020-08-19 11:46] #29 closed

[2020-08-19 11:51] daringer commented on #36
continued in #40

[2020-08-19 11:52] szszszsz commented on #33
Hi @dvzrv !

Thank you for the suggestion! Last time I have checked poetry had own issues, hence I wanted to stay with the one I know until the other matures. Worth looking again on poetry definitely.

[2020-08-19 11:58] szszszsz commented on #33
@dvzrv By the way, why do you advocate for poetry?

[2020-08-19 16:48] dvzrv commented on #33
It's mainly because it (currently) seems to be one of the few "all-in-one" solutions (pipenv had so many awkward flaws - e.g. https://github.com/pypa/pipenv/issues/2364 -  and yes, to my knowledge does not support pyproject.toml). It's fairly convenient, because it can:

* pin your dependencies
* manage your venvs
* allow easy interaction with venvs
* allow for creation of source tarballs or wheel

[2020-08-20 07:10] szszszsz commented on #39
@daringer Hi! Could you take a look at this for the v0.4 release?

[2020-08-25 08:41] daringer commented on #36
fixed in #40 now, closing to tidy up issues towards 0.4

[2020-08-25 08:41] #36 closed

[2020-08-25 21:52] daringer commented on #39
1) does up to 3 retries, while being chatty
2) delay introduced, which increases for each re-try
3) messages massively reworked, please see #40

[2020-08-25 22:13] daringer commented on #34
currently any critical error leads to a banner output including:
* link to this *issues* page on github
* location of log-file
* reminder to provide the log-file together with an issue description

will add the support e-mail address, might be more convenient for the end-user

[2020-08-25 22:40] daringer commented on #37
As of now my impression is that it's not even necessary to keep solo-python inside or outside as a dependency:
* `cli.fido2` stuff will be re-written by us anyways
* `fido2` already provides pretty high-lvl functionality, solo-python mainly wraps functionalities from there
  * `client.py` mostly unused, deprecated, unreachable code, most could be thrown away and replaced with `cli.fido2`'s calls t

[2020-08-26 03:14] szszszsz commented on #37
Thank you for the analysis. Quick comments:
- `client.py` was initial version of the upstream client, left out of refactoring probably - to remove?
- `dfu.py`: DFU interface is not used by us at all;
- `fido2 util`: these are development functions, used for the build - do you have any specific in mind?

Perhaps it would be better first to merge upstream before refactorization to avoid conflicts.

[2020-08-26 09:42] daringer commented on #37
haha, yes, ahm no ;)
There has been a lot of cleanups/refactorization already, but with the idea in mind to take solo-python in as a dependency, so I have anyways on my list to check the solo-python upstream state and if I find useful additions, we should see which way to go.

But if `dfu.py` and `client.py` are not relevant as of now, the overall code-size (as we do not want `cli.fido2` anyways)

[2020-09-03 14:45] szszszsz opened #41 "Nitrokey FIDO2 update not working"
Nitrokey FIDO2 update fails on fetching the binaries.
Tested commit: 0.3.2.nitrokey-44-g6384dbc (current tip of daringer/36-fido_08 branch);

[code]

[2020-09-04 11:04] daringer commented on #41
jip confirmed, and the reason is that a ".json" file is expected as an asset, like for the last releases.
will this be skipped for this an future releases ?

[2020-09-04 13:11] szszszsz commented on #41
Ok, the issue is the reporter here apparently :D Forget to add it.
Uploaded and tested on Fedora 31. Closing as fixed.

[2020-09-04 13:11] #41 closed

[2020-09-04 13:17] szszszsz opened #42 "FIDO2 update takes long time"
Nitrokey FIDO2 update with the latest version takes 60 seconds, while it is half of the time with previous version using bootloader upload directly. To investigate.
Potential cause: traffic logging (not enabled with previous version)

[2020-09-07 21:25] #39 closed

[2020-09-07 21:26] #34 closed

[2020-09-07 21:51] daringer commented on #8
the plan was to have the code nice & tidy for the release,
but I did not have luck finding a `black` + `isort` combination that actually converges.
I mean, a configuration that leads to no changes on repeated executions.
Personally I would really prefer that this is deterministic and converging, or was this never intended?

[2020-09-07 22:15] daringer commented on #42
[code]

fully confirmed, but weird: I have the feeling that the physical activation of the key does take longer as before...

[2020-09-14 11:51] dvzrv commented on #36
I'm not sure why #40 has not been rebased ontop of master?

Is there another pull request tracking this topic now?

[2020-09-14 18:35] daringer commented on #36
yes, sorry this was all handled within https://github.com/Nitrokey/pynitrokey/pull/40 and generally the 0.4 release...
fido2 is unpinned now

[2020-09-18 10:41] szszszsz opened #43 "Problem with using v0.4 package"
After installing the latest `pynitrokey` v0.4, it cannot be called successfully:
[code]

- [ ] correct
- [ ] add CI check
- [ ] check dependencies

[2020-09-21 09:06] daringer commented on #43
cannot reproduce ;(
[code]

dang, "works on my computer" ... will check CI, or better do a `pip`-based CI

[2020-09-21 09:31] daringer commented on #43
please check:
https://app.circleci.com/pipelines/github/Nitrokey/pynitrokey/16/workflows/66511b0e-ee25-43ab-aeb6-db2950ed3834/jobs/29

any chance you forgot to use `-U` or something with pip?
You could also crosscheck the `Makefile` and tell me the difference between your install process and the one CI-ed....

[2020-09-21 10:18] szszszsz commented on #43
The reproduction scenario is simple call of `pip install` without the `-U`, on a used system, with previously installed `fido2` 0.7.x library.

I believe the problem lies in the requirements file, where `fido2` dependency lowest version is not set:
https://github.com/Nitrokey/pynitrokey/blob/6917b2f412af56e00ebf4b19b1da86381d7c2766/pyproject.toml#L13-L24

[2020-09-21 10:31] daringer commented on #43
ah ok, good finding, will be fixed in a moment

[2020-09-21 10:43] #43 closed

[2020-09-21 10:46] daringer commented on #43
added to CI, to not fall over it anytime later:
https://app.circleci.com/pipelines/github/Nitrokey/pynitrokey/18/workflows/f98833c7-503e-48dc-b57d-ff0bcf94c2eb/jobs/36

[2020-09-21 10:54] szszszsz commented on #43
While at the topic, I would go into more general way of update process check: install the previous version first, then update to latest to see, if all dependencies were set up correctly. That would require locking versions at the time at release though (either `pip freeze` or `pipenv lock`.

[2020-09-24 10:55] szszszsz commented on #43
Hi!
Could you make a release with that? It breaks CI unless the proper package is pinned.

[2020-09-26 10:58] dvzrv opened #44 "Tagging scheme broken"
Hi! I would like to package pynitrokey for Arch Linux.
Unfortunately the tagging scheme is now broken with using [v0.4](https://github.com/Nitrokey/pynitrokey/releases/tag/v0.4) instead of `v0.4.nitrokey`, as there are upstream [solo-python](https://github.com/solokeys/solo-python) related tags and nitrokey related tags in use in this repository and I am using a regular expression match against th

[2020-09-26 11:11] dvzrv opened #45 "broken chain of trust for releases"
Hi! When trying to package pynitrokey 0.4 for Arch Linux I am running into several issues related to cryptographic authentication that prevent me from packaging pynitrokey:

* ~~the public key for `4C1449F1C9804176` (@daringer)  is not available on any known keyserver~~ (I am currently force-uploading the public key for `CC74B7120BFAA36FF42868724C1449F1C9804176` to all servers after [retrieving it

[2020-09-26 12:32] szszszsz commented on #44
Hi! Thank you for noticing that!
Indeed, I think it should be `0.4.0.nitrokey`, so we would not conflict with upstream's tags. Same scheme is used with Nitrokey FIDO2. What's your view @daringer?

[2020-09-26 12:38] szszszsz commented on #45
Hi!
Fair points, will do!

[2020-09-27 09:09] daringer commented on #44
oops, yeah brings us to the whole "not being a fork anymore topic" ... but that's a second topic, will release a `v0.4.1.nitrokey` with some recent fixes (including #43) today. Then asap bring the fork topic to a higher prio...

[2020-09-27 10:32] #35 closed

[2020-09-27 14:26] daringer commented on #44
Released 0.4.1 using tag: `v0.4.1.nitrokey`

[2020-09-28 08:14] szszszsz opened #46 "Enable challenge-response"
In v0.4.1 the `challenge-response` feature is temporarily disabled. To activate it back.

[2020-10-03 10:47] Alexus9 opened #47 "v0.4.1 too: "AttributeError: module 'pynitrokey' has no attribute 'fido2'""
After installing the latest pynitrokey v0.4.1 for my Nitrokey Start, it cannot be called successfully:
[code]
OS: openSUSE Leap 15.2
nitropy installed by
`pip3 install --user pynitrokey`
completed with message
`Successfully installed cbor-1.0.0 click-7.1.2 ecdsa-0.16.0 fido2-0.8.1 intelhex-2.2.1 pygments-2.7.1 pynitrokey-0.4.1 pyserial-3.4 pyusb-1.1.0`

What could be done? Thank you.

[2020-10-04 08:30] daringer commented on #47
oookay, no chance to reproduce it until now, could you please check the following:
* is there a systemwide `pynitrokey` installed (output of `find /usr/lib/python3.8/site-packages/pynitrokey*` )
* please also paste me the output of your local install: `find ~/.local/lib/python3.8/site-packages/pynitrokey*`

my best guess is some old installation, partly related to #43.
another idea would be to ope

[2020-10-05 06:53] Alexus9 commented on #47
Thanks for the quick reply. Please find attached the output of the commands.
I tried also nitropy in a openSUSE Leap 15.2 live system, and I saw the same appearance.

[nitropy-check-20-10-05.txt](https://github.com/Nitrokey/pynitrokey/files/5325713/nitropy-check-20-10-05.txt)

[2020-10-05 08:01] szszszsz commented on #47
@daringer Could this be connected in any way with older Python version (in this case 3.6)?

[2020-10-05 08:57] daringer commented on #47
mmh, `.local` installation looks good, had a typo in my first line I asked you for, can you please paste `find /usr/lib64/python*/site-packages/pynitrokey*`, thanks.
Apart from this, I would not suspect a version issue between 3.6 and 3.8, but will try to reproduce it in a suse container, let's see...

[2020-10-05 09:38] daringer commented on #47
looks fixed, with [75e567c](https://github.com/Nitrokey/pynitrokey/commit/75e567cc411e4fdec28994c78c6218bc84e8e382)

@Alexus9 could you confirm please, to install from git using `pip3` just do a: `pip3 install -U --user https://github.com/Nitrokey/pynitrokey/archive/master.zip` (or `uninstall` first, then leave out the `-U`) afterwards `nitropy` should work.

[2020-10-05 09:40] szszszsz commented on #47
@daringer Interesting! Could you explain the difference in import calls?

[2020-10-05 09:51] daringer commented on #47
apart from the obvious: using `from foo import bar` instead of `import foo.bar as bar`, honestly: not entirely ;)

* seen this before, fixed this before
* strongly suggesting it is more or less a circular-import issue
* behavior (and resolving) of these has been improved in recent python versions
* generally the structure of the current `pynk.fido2` is flawed, means e.g., `hmac_secret.py` needs `f

[2020-10-05 10:06] Alexus9 commented on #47
Yes, it works! Thank you very much!

[code]

[2020-10-05 10:24] daringer commented on #47
good to know, thx for the finding,

hope you can survive with this some days...
will release a 0.4.2 the next days then a regular pip install should work for you then

[2020-10-05 10:24] #47 closed

[2020-10-13 11:44] szszszsz commented on #27
Pasting log after installing libusb:

<details>

<summary>
click to show
</summary>

[code]

</details>

[2020-10-13 11:44] szszszsz commented on #27
@daringer How is the support under Windows working? Could you take a look at the case below?
- https://support.nitrokey.com/t/unable-to-run-nitropy-in-windows-10/2689

[2020-10-13 12:42] daringer commented on #27
Haven't verified NK Start with the most recent installer + libusb installed manually. I expect to release 0.4.2 this week with the wine-based build and an included `libusb`, so the problem should vanish entirely

[2020-10-25 16:25] daringer commented on #27
well, I am not entirely confident whether this is fun or not :smile:
but anyways, this is a standalone win32 executable containing the `libusb-1.0.dll` as backend, looks good until now, will do some more testing the next days and hopefully release it with 0.4.2 afterwards:

[nitropy-0.4.1.exe.zip](https://github.com/Nitrokey/pynitrokey/files/5435285/nitropy-0.4.1.exe.zip)

Please keep in mind that

[2020-10-25 21:25] daringer commented on #27
update:
looks like there is no party yet, can report that it fails with "usb.core.USBError: [Errno 2] Entity not found" with any possible solution I came up with ...

[2020-10-25 23:20] daringer commented on #27
this certainly is *not* fun, digging deeper leads to the following conclusions:
* iteration over `usb.busses()` yields the "Entity not found" error
* using `usb.core.find(find_all=True)` finds the device properly
  * but it looks like communication is not working with the device (basic things like `dev.idProduct` work, but already `dev.langids` is empty, thus no strings can be extracted)
* also in

[2020-10-26 08:52] szszszsz commented on #27
Hi!
1. Could you check if it is working with the Administrator privileges?
2. Getting USB attributes is optional here, as long as we identify the correct device.
3. Here is how hidapi has it's implementation for USB communication for reference: https://github.com/libusb/hidapi/blob/master/windows/hid.c
4. Can we compare our implementation/distribution with some other Python applications which use

[2020-10-26 10:57] daringer commented on #27
:heavy_check_mark:

Identification is possible using `idProduct` and `idVendor`, nevertheless `nitropy start update` and `nitropy start set-identity` is not working. Next step here is to dig into the errors that appear there...

yes, also on the list: find out if I can low-level-communicate with the device using its handle and `.write()` + `.read()`

sure do, but I was under the impression this wa

[2020-10-26 11:11] szszszsz commented on #27
None as far as I am concern,aside from Nitrokey Start support being WIP. I was as well thinking this works out of the box with Pip sourced installation. See original scripts for testing with older update tool version: https://github.com/Nitrokey/nitrokey-start-firmware/tree/gnuk1.2-regnual-fix/tool.

Another thing is, that Windows 10 is making rolling releases all the time, and this stopping to wo

[2020-10-26 11:16] jans23 commented on #27
I'm wondering if this issue occurs in a similar way for other tools which use libusb or hidapi?

[2020-10-27 08:10] data-henrik commented on #47
FYI: I had trouble with the install from git. It gave an error during the actual install process. What worked was to edit the file  ~/.local/lib/python3.6/site-packages/pynitrokey/fido2/__init__.py and just replace the single line for the hmac_secret

[2020-10-27 08:27] szszszsz commented on #47
@data-henrik Could you tell was it an update from the previous version, or a very first install of the pynitrokey package?

[2020-10-27 08:31] data-henrik commented on #47
@szszszsz The first install failed which was the regular `pip3 install -U --user pynitrokey`. Then I found the info in this issue and tried to install it from git as well as uninstalling it first.

I had / have several FIDO modules installed before, e.g., Solo and Yubico.

[2020-10-27 10:49] szszszsz commented on #27
@daringer Regarding https://github.com/Nitrokey/pynitrokey/issues/27#issuecomment-716472359: could you elaborate on point 1 in your answer to keep track of it for the future?

[2020-10-27 11:34] daringer commented on #47
Sorry, I do not fully understand, what exactly did not work, @data-henrik could you please give some more details, like:

Does this mean you encountered an error *during* the installation ? The error discussed in this issue is *during execution*. So, did you see the very same error as the *author* of this issue ?

Are you implying the same error here during installation, or during execution?

So y

[2020-10-27 12:21] data-henrik commented on #47
Let me repeat :). First, I did not open a new defect because you already addressed it in a recent and yet to-be-released fix.

I ran into the same runtime issues (execution) as the originator of this issue. Thereafter, I tried to follow the advice provided here in the issue and tried to install from git:

[code]
As can be seen, it resulted in an error. Thus, I resorted to applying the fix directly

[2020-10-27 13:24] daringer commented on #27
Mostly to avoid any issues I test inside an elevated shell (as Administrator), here I did exactly this. Nevertheless I (at this point) cannot judge whether one needs to run it as Administrator or not, because both options currently do not work.

[2020-10-27 13:38] daringer commented on #47
ahhh, ok much clearer now for me, especially the "bottom line" comment ;)
nevertheless it is weird that you see this error, looks like you cannot build the package according to [pep-517](https://www.python.org/dev/peps/pep-0517/) which might be due to an older `pip3` version, could you please re-try with an updated pip, because I would expect the pip install from git should be working without issu

[2020-10-31 13:46] dvzrv commented on #44
https://www.archlinux.org/packages/community/any/python-pynitrokey/

[2020-10-31 13:46] #44 closed

[2020-11-12 14:55] spamtree opened #48 "Nitrokey Start Update Went Badly - Critical error occurred, exiting now"
[nitropy.log](https://github.com/Nitrokey/pynitrokey/files/5531404/nitropy.log)

See log for details. Followed directions on website for updating firmware and now the nitrokey start is not found at all.

Thanks for any help.

[2020-11-13 14:50] daringer commented on #48
Ok, this looks weird, the update makes the impression it's finished, but the serial number is missing...

* could you please paste the `dmesg` output on plugging in the NK-Start ?
* did you try starting the update again ?
* does "not found at all" mean that the NK-Start is not working for any of your regular NK-Start use-cases?

[2020-11-13 15:04] szszszsz commented on #48
Hi @spamtree,

I am afraid the device was lost during the update process. Please contact us at `support@nitrokey.com` to get the replacement.

According to the log, the bootloader was downloaded and executed, however the update application could not connect to finish the process, probably due to some other service trying to access and locking the smart card interface. Unfortunately removing power

[2020-11-13 15:17] szszszsz opened #49 "macOS: OSError - Failed reading a response"
User reports failure in executing Nitrokey FIDO2 firmware update on ~~macOS 10.16~~ macOS 11.0.1 (macOS Big Sur), with the latest update pynitrokey (v0.4.2).
Stack trace from the exception below.

<details>
<summary> log (click to show) </summary>

[code]

</details>

<details>

<summary> tools' log (as received from user) </summary>

[code]

</details>

[2020-11-13 15:18] szszszsz opened #50 "Log: gather version of tool and its dependencies"
Collect version of the pynitrokey in its own log, and get the most important dependencies versions' as well (e.g. `fido2` package).

[2020-11-13 17:26] InternalLoss commented on #49
Correction (I’m the guy who emailed) - it’s macOS 11.0.1 (macOS Big Sur), it’s referred to as 10.16 internally on Intel for.. Apple reasons I don’t know

[2020-11-13 21:54] spamtree commented on #48
Thanks for the explanation and I understand what happened now. Well the problem is the user (me). When I installed "nitropy" it was going to pull in a lot development stuff that I already have in a docker container. I do all my development these days in a docker container. I decided to do the upgrade from the docker container because I have all the packages already installed in the docker containe

[2020-11-16 07:46] szszszsz commented on #48
I see. Docker container does not refresh the available devices, hence when the Nitrokey Start switched to bootloader it cannot be found. It might have worked, if the update would be executed once again. Good idea to mention that in the documentation!
Perhaps standalone bundled Python binaries could be another (indirect) solution to the problem.
As for your Nitrokey Start device, it can be still us

[2020-11-16 07:48] szszszsz opened #51 "Improve update process for NK Start"
Add improvements from the #48 case.
Tasks:
- [ ] document potential issues when using Docker
- [ ] discuss Pip installation alternatives, e.g. using single Python bundled binary, or pipenv, or venv, etc.
- [ ] ask users to rerun the update process if the bootloader cannot be found

[2020-11-22 07:59] spamtree commented on #48
Thanks folks!

[code]

[code]
[code]
[code]
Looks like I am back in action. This was fun! Does everything look okay? Anything else I need to check or do?

For anyone that finds this post - I used arch linux and the openocd-git from the arch linux aur. The openocd version in the arch linux official repository did not work.

[openocd-git](https://aur.archlinux.org/packages/openocd-git/)

None of the

[2020-11-22 18:26] spamtree commented on #48
I will close this issue.

[2020-11-24 07:29] szszszsz commented on #48
Looks good! I am glad you get it back to life.
I am wondering why older OpenOCD was not working for you - maybe Arch has not this patched properly? Ubuntu's stock package version works as far as I know.
Anyway, will update the docs to reflect that. Thank you for the feedback!

I will reopen ticket since there are tasks to be done.

[2020-11-24 07:33] szszszsz commented on #48
Tasks moved to #51. Closing.

[2020-11-24 07:33] #48 closed

[2020-12-02 18:53] jans23 opened #52 "fido2 reset failed"
Using nitropy 0.4.0 with NK FIDO2 2.2.0:

<details>
<summary> click to show log </summary>

[code]

</details>

[2020-12-03 09:29] szszszsz commented on #52
This is already fixed in v0.4.1 - log below. Please update with:
[code]
(or `sudo pip3` and without `--user` if installed system wide)

<details>
<summary> click to show </summary>

[code]
</details>

Error message might be a little clearer though.

[2020-12-03 09:33] szszszsz commented on #52
Closing as invalid, since its already fixed.

I think though that it would be nice to have here some update check, and/or command for the package updating (as written in the previous message). What do you think? @daringer @jans23

- [ ] clearer error message for the FIDO2 reset failure
- [ ] update command as a hint in case of any errors, and before updating NK Start
- [ ] version check with the G

[2020-12-03 09:37] jans23 commented on #52
I like the suggestions above. Also:

* [ ] More clear wording, use consistent terminology. E.g. what is "key"? State "Nitrokey" where it is applicable.

[2021-01-02 13:58] daringer opened #53 "ARM / Raspberry PI (4) compatibility"
See https://support.nitrokey.com/t/nitokey-start-firmware-update-failed-device-or-firmware-missing/2855/3

Neither NK FIDO2 nor NK Start can be properly accessed as non-root user.

[2021-01-14 10:00] szszszsz opened #54 "Integrate Nitrokey FIDO U2F commands"
Integrate Nitrokey FIDO U2F commands. See the complete tool at:
- https://github.com/Nitrokey/nitrokey-fido-u2f-firmware/blob/master/tools/u2f_zero_client/client.py

[2021-01-15 17:17] szszszsz commented on #53
This issue is invalid, since in the end just the Udev rules were missing.
Closing as such.

[2021-01-15 17:17] #53 closed

[2021-01-15 17:20] szszszsz opened #55 "Utility: support quickly creating the Encrypted Volume partition"
Utility: support quickly creating the Encrypted Volume partition for the Nitrokey Storage.

[2021-01-16 03:04] mcuee commented on #27
For Windows, you should really use latest pyusb release 1.1.0 (released on14 Sep 2020) which fixes many issues of 1.0.2 (released on 12 Oct 2017). The new developer Jonas is very responsive if you post your issues in pyusb github.

As for libusb, you can use latest 1.0.24 release.

PS: I am the "non-developer" admin of libusb and pyusb.

[2021-01-16 03:09] mcuee commented on #27
BTW, if your device is HID device, actually libusb project will recommend you to use HIDAPI and HIDAPI has a python binding called cython-hidapi.

[2021-01-16 07:43] szszszsz commented on #27
Hi @mcuee !
Nice to meet you and thank you for the tips! Updating libusb sounds interesting. We must have missed its release.
We need libusb for the firmware update of Nitrokey Start, so we cannot switch entirely to the HIDAPI, otherwise that would be a good idea of course.

@daringer Could you run a check with the updated libusb?

[2021-01-16 08:39] szszszsz opened #56 "Support update for SafeKey"
Support CLI for the SafeKey firmware update:
- recognize device and list it
- get proper firmware links for the update
- execute update process

[2021-01-16 08:49] szszszsz commented on #56
Firmware location available at constant address:
- https://docs.safetech.io/firmware-update.json

[2021-01-21 08:57] szszszsz opened #57 "Fails to run on a fresh install"
After installing in a fresh Docker container based on Ubuntu 20.10, `nitropy` fails to run. Details below.
It looks like the `fido2` dependency got updated recently, removing some internal symbols pynitrokey was using.

Potential solutions:
- pin `fido2` package dependency to previous one, 0.8.1;
- remove usage of the internal `fido2` symbol.

Error log:
[code]

[2021-01-21 16:01] szszszsz opened #58 "Nitrokey FIDO2 firmware update fails when not in bootloader"
Nitrokey FIDO2 firmware update fails if not in bootloader, while trying to use local file as the firmware source. See below for details.
Most probably the response from the bootloader is unexpected and not handled by the pynitrokey.

Version: 0.4.1 (latest)

<details>
<summary> logs (click to show) </summary>

[code]

</details>

[2021-01-26 18:25] szszszsz opened #59 "Document better installation process"
Document better installation process, especially for the Raspberry PI case:
- Udev rules;
- avoiding using root;
- Python packages installation (system- or user-wide?).
See:
- https://support.nitrokey.com/t/nitokey-start-firmware-update-failed-device-or-firmware-missing/2855/5

[2021-01-31 12:16] alt3r-3go commented on #57
FWIW, the same happens on current Fedora 33 as well, looks like that `fido2` update got picked up by distros.

[2021-01-31 19:59] daringer commented on #57
Trying to avoid pinning versions here, as this will break rolling-release distros like ArchLinux. But should be easy to fix it, will do it tomorrow...

[2021-02-01 22:19] daringer opened #60 "update to fido2 library version 0.9"
as the python-fido2 library broke backwards compatibility with 0.9 there is some work to be done in order to make it work with it. Maybe even wait for 1.0 ?

[2021-02-01 22:20] daringer commented on #57
mmmh well, fido2 is breaking compatibility in every release currently, also this one is not so "easily" (at least partly) adapted as the last one, so I had to pin the version for now.
Closing this and tracking the whole "update to fido2 version"-story here: https://github.com/Nitrokey/pynitrokey/issues/60

[2021-02-01 22:20] #57 closed

[2021-02-02 11:19] szszszsz opened #61 "Allow to install and run in standalone setup"
Given last issues with dependencies #60 #57, it would be nice to have the final distribution either packaged to a single file (using some bundler), or allow it to be installed separately in a virtual environment (e.g. pipenv, poetry).

Edit: to clarify, single binary distribution includes AppImage and Flatpak. All major OSes should be supported (not necessarily by a single solution).

[2021-02-25 20:39] szszszsz commented on #15
Build fails due to problem with extending some Bash features apparently, see:
- https://app.circleci.com/pipelines/github/Nitrokey/pynitrokey/43/workflows/aee09360-d542-478e-ae78-545e0b126687/jobs/183
[code]

[2021-02-27 10:52] dvzrv commented on #45
Any news on this?

[2021-02-27 10:56] dvzrv opened #62 "0.4.2 not available as sdist on pypi.org"
Hi! The sdist tarball for 0.4.2 is not available on pypi.org.

It would be nice, if you could upload it :)

[2021-03-01 13:34] szszszsz commented on #62
Hi @dvzrv !
Thank you for pointing that out! I have just uploaded the latest version to pypi.
For the future, do you know if there is an unstable channel on pypi? I see, that some projects just use another name, with `unstable` suffixed. I wonder if this is accepted approach.

[2021-03-01 13:47] #45 closed

[2021-03-01 13:49] szszszsz commented on #45
Hi @dvzrv ! Thank you for reminding and sorry for taking time. I have added a signed commit with "maintainers list" file, which should satisfy your concerns. If not please reopen.

[2021-03-01 14:21] dvzrv commented on #62
I guess it is always acceptable to use e.g. [semver'](https://semver.org/#semantic-versioning-specification-semver)s notion of pre-releases.

I don't really know how/if pip handles pre-release versions though.

[2021-03-01 14:52] szszszsz commented on #62
Will check, thank you!

[2021-03-01 14:52] #62 closed

[2021-03-11 11:56] szszszsz opened #63 "NK FIDO2 update: correct bootloader execution description"
Do not ask for inserting device with the button pressed for NK FIDO2 device update procedure.

[2021-03-17 08:02] szszszsz opened #64 "Windows: check for privileged run during the update"
Check and abort, if the execution priviliges are not at the level of the Administrator, while running on the Windows OS. This is required to run the Nitrokey FIDO2 update.

[2021-03-23 10:05] Alexus9 commented on #27
It’s cumbersome to start Linux when I would like to change the Nitrokey Start identity for Windows application. Is it possible to describe the manual steps to put in effect the libusb 1.0.24 to give it a try?

Maybe starting like this: „Using Zadig, install WinUSB driver, update pyusb by this command: …“ etc.

I made some attempts without any success. Above all I’m not sure how to install the libu

[2021-03-31 16:00] ek-alliander opened #65 "nitropy fido2 update fails with NoSoloFoundError('no Nitrokey FIDO2 found') <FIXED: usbguard>"
I tried to update the firmware of a Nitrokey FIDO2 using nitropy.
The update starts nicely, it detects the USB device, tries to enter bootloader mode, and asks for confirmation with the button on the key.
I press the button on the FIDO2 key, and directly after that the software returns a critical error, and says that no FIDO2 key could be found.
After that the Nitrokey shows a blinking (alternatin

[2021-03-31 16:08] ek-alliander commented on #65
I am so sorry.
I found the problem, and fixed it.
I am running usbguard, and that blocked the USB device.
When performing the update, and switching to bootloader mode, the USB device ID changes.
The new USB device ID was blocked by usbguard.
I added the second USB device ID to usbguard, and the update was 100% OK.
-> Maybe this is something for the FAQ?

[2021-04-06 11:39] szszszsz commented on #49
@daringer Hi! Any updates on that?
@InternalLoss Hi! Sorry for the delay. Do you still experience this issue?

[2021-04-06 11:41] InternalLoss commented on #49
Hi - my apologies, I've since used the update website on a Windows machine to update to latest firmware; when a new update comes out I can check again

[2021-04-06 12:37] szszszsz commented on #49
That would be great, thank you for the update @InternalLoss !

[2021-04-07 11:17] Alexus9 commented on #27
I have found a solution that I can currently live with (Windows 10 Version 20H2, Build 19042.867):

By default, when Nitrokey Start has been inserted, in Windows Device Manager entries can be found for Smartcard Reader and Smartcard:

![eingesteckt_550x450](https://user-images.githubusercontent.com/48854625/113855619-8cef8100-97a0-11eb-8abb-0b405a58bb41.jpg)

`gpg --card-status` does work.

Instal

[2021-04-13 08:13] robin-nitrokey opened #68 "nitropy fills /tmp with empty log files"
On every run, nitropy creates a log file which is typically empty if there are no log messages.  I suggest to only create log files if requested by the user, or at least only if there are messages to log.

[2021-04-13 08:40] szszszsz commented on #68
As a workaround, we can remove the log file at the end of the execution if it looks empty.
Logging is useful mostly for the update process - it can be switched off for other operations, unless requested by user.

Logging only on the user request for all operations might be too late in case the update has failed, and the device under process resulted in an unknown state, hence I would be against it

[2021-04-14 10:59] szszszsz commented on #15
@daringer @robin-nitrokey Could you take a look into this?

[2021-04-25 17:13] dvzrv commented on #61
I understand the incentive behind this, however this is unfortunately nothing that works for downstream distributions.
On Arch Linux for example we have all the dependencies packaged.

As  a user of the fido2 package it is really the best solution IMHO to keep up-to-date with the upstream (tests for this can even be automated). Bundling dependencies usually leads to bit rot and a an eventual large

[2021-04-25 17:17] dvzrv commented on #60
An update would be much appreciated, as pynitrokey is currently not usable on Arch Linux due to this incompatibility.

[2021-04-26 07:19] robin-nitrokey commented on #68
I think it should be possible to only create the log file if there are log messages by setting `delay=True` for the [`FileHandler`](https://docs.python.org/3/library/logging.handlers.html#filehandler) instance [here](https://github.com/Nitrokey/pynitrokey/blob/master/pynitrokey/helpers.py#L63).

Also, what do you think about moving all initialization code, for example the banner message and the lo

[2021-04-27 14:59] szszszsz commented on #68
1. `delay` sounds good!
2. I agree the initialization code is not properly structured. Please correct that.

[2021-04-27 15:01] szszszsz commented on #60
@daringer @robin-nitrokey Can you look into that?

Setting high priority, since application cannot be run and used in some environments.

[2021-04-27 15:05] szszszsz commented on #61
Sure! This is actually something else than https://github.com/Nitrokey/pynitrokey/issues/60. Here we would like to have a standalone package/binary for users, who either do not know Python packagement system, or do not want to mess anything in their environment by installing user-wide packages. At the same time we assume they do not have access to the tool by other means.

[2021-04-27 21:56] Alexus9 commented on #27
@Daringer I’m not sure about the next steps. I’ve seen v0.4.2.nitrokey, but it's just the source, no Windows executables. I don’t know how to run `nitropy` from source, if this is intended. The easiest way for me would be to use a msi installation file.

[2021-04-29 05:31] szszszsz opened #73 "Empty values while listing Nitrokey Start key"

[2021-04-29 09:47] #68 closed

[2021-04-29 09:58] daringer commented on #73
The solution here should be to check for the udev rules if running in Linux. Despite checking for the specific file in `/etc/udev/rules.d` I am not aware of a better way to do this.

[2021-04-29 10:25] robin-nitrokey commented on #73
What about checking whether the device strings are None and printing a
warning that suggests to install the udev rules?

I think checking whether a specific rules file is present is likely to
cause false-positives, for example when manually installing the files or
if a distribution changes the file name.  For example, Debian and Arch
place the udev rules installed by libnitrokey in /usr/lib/udev/r

[2021-04-29 11:57] szszszsz commented on #73
Why not both? I was planning to add Udev check for some time already, as a part of a general diagnostic module. We can prepare expected rules file location list for major distributions (and use `pkg-config` on the rest where available, e.g. `pkg-config  udev --variable udevdir`) and notify user about that, then possibly suggest the install command. Ideally, pynitrokey could download and install th

[2021-04-29 12:44] robin-nitrokey commented on #73
Done, see #74.

[2021-04-29 13:33] szszszsz commented on #15
@daringer @robin-nitrokey @LennardBoediger
Just a friendly reminder. Having a broken CI kind of misses the point :-)

[2021-04-29 15:05] szszszsz commented on #61
Setting this to low priority, since we do not have much demand for this feature at the moment.

[2021-04-29 15:57] szszszsz commented on #60
Potential pointers in the upstream (perhaps ready to merge):
- https://github.com/solokeys/solo-python/commit/b8be4572518c70515e2b63888e8b746dbf0ea7c4
- https://github.com/solokeys/solo-python/commit/096a9401c31b3882fdf45d78f5de0c2d872f0725
- https://github.com/solokeys/solo-python/commit/4d0a4fd4d50c9148d11fdcc3c6c7fe6e501f784e
- https://github.com/solokeys/solo-python/commit/d76ce9f383f4c6de3a63

[2021-04-30 09:29] robin-nitrokey commented on #15
It is hard for me to fix this properly because I’m not sure what it is trying to achieve.  Apparently, it is trying to install the latest version, but couldn’t we use `${VERSION}` instead of grepping the pip output?  I can prepare a PR that does that but I’m not sure if that’s the intention.

[2021-04-30 09:34] robin-nitrokey commented on #15
Also, as these tests only check the installation via `pip`/PyPi and not the actual code in the repository, wouldn’t it make sense to use [scheduled builds](https://circleci.com/docs/2.0/triggers/) instead of running them for every push?

[2021-04-30 10:26] szszszsz commented on #15
@daringer Could you review the mentioned #75 and see if that is according to your design? LGTM.
@robin-nitrokey Yes, scheduled builds would be ideal solution for this, as what we wanted here is to check, when the package will stop installing due to the changed external dependencies (especially important on not locked versions).

[2021-05-05 13:46] #15 closed

[2021-05-06 13:35] robin-nitrokey opened #80 "Support reading defaults for CLI arguments from the environment or a config file"
Especially useful for the `nethsm` subcommand where the user always has to specify the NetHSM host.

At least reading from the environment should be [easy](https://click.palletsprojects.com/en/7.x/options/#values-from-environment-variables) with `click`.

[2021-06-01 13:28] dvzrv commented on #60
Any updates on this?

[2021-06-02 09:15] daringer commented on #60
There a some changes incoming, including a project renaming (separation of lib and cli-tool)....
eta: before the end of the week

[2021-06-07 12:17] InternalLoss commented on #49
Still getting this on macOS 11.4:
[code]

[nitropy.log.n6geg3vc.txt](https://github.com/Nitrokey/pynitrokey/files/6608713/nitropy.log.n6geg3vc.txt)

[2021-06-07 18:58] dvzrv opened #87 "0.4.3 sdist tarball missing on pypi.org"
Hi! I would like to update the Arch Linux package to 0.4.3. Unfortunately the sdist tarball is missing on pypi.org. It would be great if you could upload it :)

[2021-06-07 20:32] daringer commented on #87
ooops, you are fast, yes the release tag is there but the releases (including pypi and gh are not uploaded yet)... should be done by tomorrow (testing new ci/cd chain), will ping you here once it's done

[2021-06-07 20:48] dvzrv commented on #87
Hehe, yes, I monitor my upstreams :)

Thanks! :)

[2021-06-08 10:54] daringer commented on #87
mmmh, nearly good ...
too bad I failed again to properly tag with `.nitrokey` so I deleted, but the CI tag was not deleted ... at least it's likely that 0.4.3.1 will not clash with the origin's project versioning ...

pypi is up to date with version 0.4.3.1: https://pypi.org/project/pynitrokey/

still some space for improvements, please close this issue if you found what's needed on pypi, thx

[2021-06-08 10:54] daringer commented on #73
fixed and merged, closing....

[2021-06-08 10:54] #73 closed

[2021-06-08 10:56] daringer commented on #60
fixed upstream and released in version 0.4.3.1

[2021-06-08 10:56] #60 closed

[2021-06-08 11:02] daringer commented on #46
`challenge-response`, `make-credential` activated again with release `0.4.3.1`

[2021-06-08 11:02] #46 closed

[2021-06-08 11:03] daringer commented on #17
done in release 0.4.3.1:
* pin change: working
* pin set: working
* subcommands: (`make-credential`, `challenge-response`) working
* dependencies: mainly fido2 >= 0.9.1 done

closing

[2021-06-08 11:03] #17 closed

[2021-06-08 11:05] daringer commented on #27
the recent release `0.4.3.1` also consists of a windows binary and an msi-installer, also adapted your solution, could you retest please?

[2021-06-08 13:19] dvzrv opened #88 "flit creates invalid setup.py for sdist tarball"
Hi! When packaging 0.4.3.1 for Arch Linux I tried to remove my use of dephell to convert this project's pyproject.toml to a valid setup.py.

Unfortunately this is not possible as flit seems to create an invalid setup.py file (for the sdist tarball):

[code]

Versus the one I can generate using dephell (`$ dephell deps convert --from pyproject.toml --to setup.py`):

[code]

For reasons I don't full

[2021-06-08 13:27] dvzrv commented on #87
Thanks! I updated to 0.4.3.1

[2021-06-08 13:27] #87 closed

[2021-06-08 14:40] robin-nitrokey commented on #88
The reason why this is happening is that the flit `setup.py` uses [`distutils.core.setup`](https://docs.python.org/3/distutils/apiref.html#distutils.core.setup) which does not support the `entry_points` keyword while `dephell` uses `setuptools.setup` (if available) which does support `entry_points`.  In flit, I found this comment:

https://github.com/takluyver/flit/blob/master/flit/sdist.py#L16-L1

[2021-06-08 16:16] InternalLoss commented on #49
Can confirm that this has **not** fixed the bug, see attached files (I'm also about to update to macOS 12 beta):

[nitropy-sudo.txt](https://github.com/Nitrokey/pynitrokey/files/6618098/nitropy-sudo.txt)

[nitropy-nosudo.txt](https://github.com/Nitrokey/pynitrokey/files/6618100/nitropy-nosudo.txt)

[2021-06-18 19:28] Alexus9 commented on #27
Basically the same as above (also with admin rights, tested with Windows 20H2 and 21H1).

The error message `no backend was found` doesn’t appear any more, but otherwise unfortunately, depending on installed driver, either `nitropy-0.4.3.1.exe` can access the Nitrokey Start or `gpg --card-status` works, not both. Summarizing:

Nitrokey Start inserted,
when in Windows Device Manager entries can be

[2021-06-29 10:23] szszszsz opened #91 "Idea: abort update if hash sum does not match"
Idea: abort update if hash sum does not match. To discuss.

Details:
- https://support.nitrokey.com/t/invalid-hash-for-start-github-firmware-blobs/3172

[2021-08-17 16:18] szszszsz opened #92 "Warn about not supported dependencies"
Check the dependencies installed and warn, if they are not supported.
I have just installed pynitrokey, and it failed with the basic check (see below).

Edit: I am assuming this error comes from the dependencies API change (might be wrong)

<details>
<summary> log </summary>

[code]

</details>

[2021-08-30 11:48] szszszsz opened #93 "Update CBOR library dependency"
See discussion at https://github.com/Nitrokey/pynitrokey/commit/bc45e74d377f28853ff05cfe926e5ac9b7b36267.

`cbor` library is not maintained anymore, and the repository is not reachable. `cbor2` looks like a valid candidate.

[2021-08-30 11:52] szszszsz commented on #93
Just found this, which suggests that this is the original repository, moved to Github:
- https://github.com/brianolson/cbor_py

[2021-09-01 07:22] coelner opened #94 "switching identity documentation"
https://github.com/Nitrokey/pynitrokey/blob/master/README.md#switching-id

Is it possible to send the specific attribute with a scd command? Until this is done: https://github.com/Nitrokey/pynitrokey/issues/61 it can be a little bit difficult to install pynitrokey, e.g. under RPi zero and alpinelinux.

[2021-09-01 11:06] szszszsz commented on #94
Hi!
Yes, I believe this should be possible without any problem, but unfortunately does not work for me.
The APDU is `0x85, 0x00, {ID}`, where {ID} is in range [0;2]. E.g.:
[code]

I must be missing some bytes.

[2021-09-01 11:11] szszszsz commented on #94
Ah, yes. The `00` prefix.  Corrected. Now it works.

[2021-09-01 12:53] szszszsz commented on #94
Fixed with https://github.com/Nitrokey/pynitrokey/commit/da508c0e61e2c5b065980b2a2c1f40dd8601982a

[2021-09-03 17:07] szszszsz commented on #94
Add other possible scenarios. Details below:
- https://github.com/Nitrokey/pynitrokey/commit/da508c0e61e2c5b065980b2a2c1f40dd8601982a#commitcomment-55902706

[2021-09-07 11:55] InternalLoss commented on #49
Can confirm this is still occurring on 0.4.4 - log attached.
[nitropy.log.txt](https://github.com/Nitrokey/pynitrokey/files/7121295/nitropy.log.txt)

[2021-09-13 16:38] daringer commented on #49
mmmh, yeah the logged error stays the same, essentially this will be the reason:
[code]

to me this looks like the error is originating from the `fido2` module, this does not necessary means it's its fault, but at this point I can't really tell what might be the reason for that...

how about the other fido2 commands, do they work ?

[2021-09-14 12:32] szszszsz commented on #49
Hi @InternalLoss !
Thank you for the update. Another reason for this error could be, that tool does not receive a response from the device after successfully entering the bootloader mode (which it does immediately, discarding all the current communication).

Can you run the update two times in a sequence, after receiving the error? I assume here that the first call will change operation to the boo

[2021-09-14 12:36] szszszsz opened #95 "Limit libusb dependency"
Limit importing of the libusb based package to only actual calls, or wrap it accordingly.
Latest release is not running on the limited CI systems because of the missing library being imported to the main work space.
[code]

[2021-09-14 15:33] InternalLoss commented on #49
Yes, `list`, `status`, and `wink` all work.
Status:
[code]
(I pushed the button to make sure that it changed at some point)

Seems no? If I hold the button for long enough, yes

Yes, I can! Logs for both times attached - `error.txt` was the time with failing to get a response (but after holding the button down for long enough, it did go into bootloader mode), and `success.txt` was shortly after.

[2021-09-14 15:45] szszszsz commented on #49
Looks like it! Thank you for confirming. So in the end this is UI / error handling issue, rather than problem with communication.
To be corrected.

[2021-09-14 15:52] #94 closed

[2021-09-14 16:11] szszszsz commented on #15
This one got closed without explanation, but I believe the reason was we have moved to Gitlab CI, thus this one got outdated. Still the hook was connected to Circle CI until now. Removing it.

[2021-09-15 12:47] daringer commented on #95
fixed

[2021-09-15 12:47] #95 closed

[2021-09-15 12:50] daringer commented on #49
There is a possible fix here: https://github.com/Nitrokey/pynitrokey/tree/mac-update
To test, try something like this:
[code]

The fix essentially just waits once such an error occurs and continues execution, not perfect, but might work.

[2021-09-20 15:38] LennardBoediger commented on #49
This did not work, the update still took 3 attempts.
[fido2-update.log](https://github.com/Nitrokey/pynitrokey/files/7196860/fido2-update.log)

[2021-09-20 16:20] szszszsz commented on #49
From the logs:
[code]

[2021-09-27 18:26] dragon788 commented on #56
It might be good to explore fwupd.org for updates if this isn't specifically a Nitrokey derivative or to handle the Linux side if there is already a Windows app for updates?

[2021-09-27 18:30] dragon788 commented on #51
This could also potentially happen if trying to update/interact with Nitrokey devices from Crostini (Linux apps) on a Chromebook. You don't get direct access to the device as there is a "broker" process that you have to grant explicit permission to redirect the USB device into the Linux apps, and I have noticed in the past when trying to "switch identities" that nitropy fails because the device is

[2021-09-30 11:56] daringer commented on #49
@LennardBoedinger can you please try again, added a throttled retry loop now...

[2021-10-20 14:28] robin-nitrokey opened #96 "verify does not work for FIDO2"
Running `nitropy fido2 verify` with a FIDO2 device causes an error:

[code]

Environment:
[code]

[2021-10-25 11:02] szszszsz opened #97 "Change firmware password for Nitrokey Pro and Storage"
Allow to change the firmware password of Nitrokey Pro and Storage devices

[2021-10-29 13:10] Niklap97 opened #98 "Nitropy fails to connect with the Nitrokey Pro on Windows 10"
Running "nitropy pro"- commands with a Pro device causes an error:
![nitropy_failed_to_execute_nitropy_git](https://user-images.githubusercontent.com/64582081/139439271-7667fa9c-6e9f-4f57-b245-883c4600178d.PNG)

Environment:
- Nitrokey tool for Nitrokey FIDO2, Nitrokey Start & NetHSM 0.4.4
- Windows 10

[2021-10-29 15:06] szszszsz opened #99 "Provide own libnitrokey headers file"
Provide own libnitrokey headers file in version 3.7. It is not platform dependent, and backwards compatible at least to 3.5 (for features released in 3.5).

Connected:
- https://github.com/Nitrokey/pynitrokey/issues/98

[2021-11-04 12:41] Niklas-Nitrokey commented on #98
The same error occurs with the 0.4.5 version

[2021-11-24 12:12] szszszsz opened #101 "Cannot choose device by serial"
Currently it's not possible to choose device by serial number (API change?). See below for traceback.
Problem occurs on the current stable version as well.

[code]

[2021-12-03 15:18] #96 closed

[2021-12-06 11:53] szszszsz commented on #98
@daringer Hi! Can you take a moment to look at this issue? It seems to be about Windows packaging, but I might be wrong.

[2021-12-06 14:46] daringer commented on #98
yes this looks like the header files are not packaged together into the windows package. But libnitrokey is also needed, is there a libnitrokey available on this system (looks like it is set via env). So assuming the lib is there and all the other bits are working, best  case `wine-build/nitropy.spec.tmpl` just needs an addition to `datas` containing the `nk_headers` dir...

[2021-12-08 09:49] robin-nitrokey commented on #101
Also indicated by the type check in https://github.com/Nitrokey/pynitrokey/pull/109.  I will have a look at it.

[2021-12-08 09:57] robin-nitrokey opened #111 "De-duplicate dependency lists"
As far as I see, we currently have three dependency lists, `ci-requirements.txt`, `dev-requirements.txt` and `pyproject.toml`.  From my understanding, the lists in `ci-requirements.txt` and `pyproject.toml` should be identical.  It would be easier to maintain if that list was only defined in one place.

[2021-12-08 10:03] #101 closed

[2021-12-08 10:04] szszszsz commented on #111
`pipenv` allows to define multiple dependencies' lists AFAIK. Would be nice if any tool we choose would handle `pyproject.toml`.
Quick comparison I have found:
- https://frostming.com/2021/03-26/pm-review-2021/

[2021-12-08 10:08] robin-nitrokey commented on #111
Good pointer, thanks.  Maybe we should start by compiling a list of which tool uses which config file.

[2021-12-09 07:52] szszszsz opened #116 "Mention log file location in test command results"
Mention log file location in Nitrokey 3 test command results. Current output:

[code]

[2021-12-09 08:42] robin-nitrokey commented on #116
The log file is mentioned if the test fails.  It was a deliberate decision to not print the log file name if the tests are successful because in that case, there is not much to learn from them (other than what is already printed).

[2021-12-09 08:46] robin-nitrokey commented on #116
For reference, this is the output on test failure:

[code]

[2021-12-09 08:47] szszszsz commented on #116
I see. I thought here about a case, where test passes but it still does not work for the user - then properly enriched log could add some additional information. Although I agree, that if connection is tested, and FIDO2 certificate is verified, then this closes the connection debugging case.

[2021-12-09 08:48] szszszsz commented on #116
OK. Closing as wontfix.

[2021-12-09 08:48] #116 closed

[2021-12-09 09:19] jans23 commented on #54
Nitrokey FIDO U2F is deprecated.

[2021-12-09 09:19] #54 closed

[2021-12-09 09:26] jans23 opened #118 "Wording improvements"
Change text "Nitrokey tool for Nitrokey FIDO2, Nitrokey Start, Nitrokey 3 & NetHSM" to "Command line tool to interact with Nitrokey devices".

In the following overview, change "key" to "device" and make wording consistent among all models. E.g. "Interact with Nitrokey FIDO2 devices, see subcommands."

![Bildschirmfoto von 2021-12-09 10-21-49](https://user-images.githubusercontent.com/1450547/1453

[2021-12-09 10:32] szszszsz opened #119 "PIN and path switches collide"
For Nitrokey 3 test command `-p` switch means `--pin` and collides with parent's `--path` switch.

[code]

[2021-12-09 10:45] robin-nitrokey commented on #119
It’s probably best to just remove the shorthand for `--pin` because it is already quite short.  Note that the position of these two flags is relevant here:  The `--path` option is for the `nk3` command group, so it has to come before the subcommand.  The `--pin` option is for the `test` subcommand, so it has to come after it.
[code]
[code]
As far as I know, there is no easy way to make the `nk3` `

[2021-12-09 10:53] szszszsz commented on #119
1. Agreed, `--pin` is sufficient.
2. About the global switch, that's not intuitive at all :eyes:

[2021-12-09 14:25] robin-nitrokey commented on #111
I think the easiest solution would be to add a `dev` extra with the development dependencies.  Then we should be able to only use `flit install` for installing the dependencies, either with or without the `dev` extra.  We could remove the text files and only use the `pyproject.toml` file for the dependencies.  We wouldn’t even have to introduce any new tooling.

[2021-12-09 14:42] szszszsz commented on #111
Nice. If it does so, then let's switch to it.
In the longer perspective I think we should plan for some dependency "locking" package manager anyway, like the mentioned.

[2021-12-09 15:38] #119 closed

[2021-12-10 12:10] robin-nitrokey opened #122 "nk3: Don’t connect to other devices if --path is set"
The nk3 commands should not have side-effects on other devices if `--path` is set to make it possible to work on multiple devices in parallel.

[2021-12-10 15:15] robin-nitrokey opened #124 "nk3: Improve exception formatting in test output"
Exception:
[code]

Actual output:
[code]

Expected output:
[code]

[2021-12-10 17:51] #122 closed

[2021-12-11 12:52] szszszsz opened #126 "FIDO2: do not scan for FIDO2 devices when USB serial number is given"
FIDO2: do not scan for FIDO2 devices when USB serial number is given. See below for details.

Connected:
- https://github.com/Nitrokey/pynitrokey/pull/125

[2021-12-13 18:03] robin-nitrokey opened #127 "Fix installation instructions for macOS"
The Linux/Unix section in the readme does not work for macOS as it requires apt.  We should provide a separate guide for installation on macOS.

[2021-12-14 12:25] #127 closed

[2021-12-14 14:46] robin-nitrokey commented on #127
@daringer Thanks!

[2021-12-15 09:43] robin-nitrokey opened #133 "nk3: Use custom error types"
Use custom error types instead of raising `Exception` or `ValueError` in `pynitrokey.nk3`.

[2021-12-15 10:50] robin-nitrokey opened #134 "Add flag for printing log messages"
As far as I see, the log messages are currently always written to the log file.  It would be useful for debugging to be able to see certain log messages in the output.  Ideally, the user could set the log level per module.  Also, an option that prints the path of the current log file before executing the command would be useful.

[2021-12-15 10:59] robin-nitrokey opened #135 "Provide exception alternative to local_critical"
Currently, the preferred way to abort program execution on a critical error is calling `pynitrokey.helpers.local_critical`.  This is convenient in some contexts, but problematic in others because it is not clear for static analysis and for unfamiliar programmers that this actually aborts the program.  It just looks like a logging function.

I suggest to have an alternative way to abort execution,

[2021-12-15 13:56] robin-nitrokey opened #137 "nk3: Add command for validating firmware images"
Currently, the validation is already performed as part of the`update` command but users might want to do that in a separate step.

[2021-12-15 13:57] robin-nitrokey opened #138 "nk3: Automatically download firmware images"
In the `nk3 update` command, we could automatically download the latest firmware image for the connected device.

[2021-12-17 14:21] robin-nitrokey opened #139 "NetHSM: Add support for AES-CBC"

[2021-12-31 11:38] InternalLoss commented on #49
My NitroKey has sadly decided to break (the PCB fell out of the plastic..), so I can no longer help test this as I don't have any other NitroKey FIDO2 devices.

[2022-01-03 15:59] szszszsz commented on #52
Occurred again with Nitrokey 3 and version `0.4.9`.

[2022-01-03 16:15] szszszsz commented on #52
False alarm - the message is shown, but guide what to do next runs away of the user's attention - to improve.

[2022-01-11 15:09] robin-nitrokey opened #141 "Consider simple GUI and/or one-shot command for nk3 firmware update"
Probably as a standalone project that is using the pynitrokey API.

cc @daringer @szszszsz

[2022-01-11 15:10] szszszsz commented on #141
For Windows a single frame, self-contained UI app with single button and a progress bar would be perfect

[2022-01-11 15:16] robin-nitrokey opened #142 "nk3: Improve progress report during firmware update"
It would be useful to show the actual progress of the firmware update, not only an activity indicator.  Currently, this is blocked by spsdk, see https://github.com/NXPmicro/spsdk/issues/22.

[2022-01-17 11:18] robin-nitrokey opened #145 "nk3: Investigate device enumeration under macOS"
On macOS, we still see the firmware NK3 device after rebooting into bootloader mode.  We can avoid this issue by splitting the update process into two separate steps, but we should also:
- investigate other solutions that let us keep a single command (new thread? new process?)
- investigate the underlying issue, probably in hidapi (also relevant for FIDO2)

[2022-01-17 11:26] szszszsz commented on #145
Looked briefly at it. In my experience USB state might be indeed cached (similarly for libusb AFAIR). Making subprocess for switching to bootloader sounds good, though I am afraid this would not help, as I think the state is located in the C libs, and these requires reloading. It should be possible to do the latter with some magic, but let's test the subprocess idea first.

Priority B, as there is

[2022-01-17 11:31] szszszsz opened #146 "nk3: improve firmware update process"
Improve firmware update process for Nitrokey 3:
- [x] Improve process speed on Windows
- [x] Adapt the process for macOS so that the user does not get an error message (#145, #148)
- [x] Add --experimental switch on Windows (#144)
- [x] Add progress bar (#142, blocked by spsdk)
- [x] Add automatic image download (#138, #151)
- [x] Improve error reporting (as discussed in https://github.com/NXPmicr

[2022-01-18 14:48] jmue opened #153 "nk3: firmware update fails"
The output on my Fedora 35 Workstation is:
[code]

[2022-01-18 15:13] robin-nitrokey commented on #153
Thanks for the report!  Looks like a permission issue.  Could you please check that you have an entry like this one in your udev rules?

[code]

[2022-01-18 15:56] jmue commented on #153
Sorry no luck, even when added the rule. I suspected a SELinux issue and tried it on Debian Bullseye. But I get similar output.
[code]

[2022-01-18 15:59] robin-nitrokey commented on #153
Did you reload the udev rules after adding the bootloader rule?  Typically, you need to run something like this:
[code]

(Or simply reboot the system …)

[2022-01-18 16:07] jmue commented on #153
Yes, I rebooted but also tried "udevadm control --reload"

[2022-01-18 17:36] szszszsz commented on #153
@robin-nitrokey
The previous one works for me on Fedora.

@jmue
Perhaps path is an issue. My rules file is at the following path:
- /usr/local/lib/udev/rules.d/41-nitrokey.rules

Can you check it?

[2022-01-18 18:47] robin-nitrokey commented on #153
I accidentally have both rules and it works for me on Debian stable.  I can test tomorrow if both or only one of them work on my system.

[2022-01-18 21:43] jmue commented on #153
Adding the default [41-nitrokey.rules](https://raw.githubusercontent.com/Nitrokey/libnitrokey/master/data/41-nitrokey.rules) udev ruleset solved the problem for me on Fedora. Having successfully run the nk3 list, version and test commands with no additional rules, I was unaware of their importance.

[2022-01-18 21:43] #153 closed

[2022-01-19 14:19] szszszsz commented on #153
@robin-nitrokey Its probably worth catching this error, and showing a proper guide about Udev rules installing on Linux.

[2022-01-19 16:15] szszszsz opened #154 "nk3: ask to install Udev rules"
Ask to install Udev rules if connection to the Nitrokey 3 fails on Linux.

Connected: https://github.com/Nitrokey/pynitrokey/issues/153

[2022-01-19 16:28] szszszsz opened #155 "Allow to install Udev rules automatically"
Allow Linux users to install / verify Udev rules automatically.

[2022-01-20 11:00] #138 closed

[2022-01-20 11:21] szszszsz opened #157 "CI: build fails due to missing name"
Build fails due to a missing name:
[code]

Missed by `make check` and `make lint`.

[2022-01-20 11:49] #157 closed

[2022-01-20 22:36] dvzrv commented on #155
If by this you mean downloading files from the internet and putting those into a system location where they will be used for [udev](https://man.archlinux.org/man/udev.7) based detection and actions on system devices, executed as root... then no, please don't. That sounds not only dangerous but also error prone.

[2022-01-21 13:17] szszszsz opened #160 "Set minimal versions for used libraries"
Set minimal versions for the used libraries. E.g. some users have problems with older `cryptography` packages:
- https://github.com/nitrokey/pynitrokey/blob/master/pyproject.toml#L15

[2022-01-21 13:18] daringer commented on #155
mmh, ok then maybe packaging the udev-rule file as a part of pynitrokey and provide something like `nitropy udev-rules`, which will output the rules file providing some more convenience and control to the user (because he'd have to copy it by himself)

[2022-01-21 13:21] szszszsz commented on #155
Can you elaborate why do you feel it's dangerous or error prone?

[2022-01-21 13:33] dvzrv commented on #155
It would require the user to elevate privileges to root for the installation of the files.
When looking at post-installation actions that would be required (e.g. run `udevadm control --reload` as root) and the necessary steps to ensure that e.g. the administrator location for these files exists and that the files do not conflict with other files and/or are being cleaned up properly on update or re

[2022-01-21 13:44] szszszsz commented on #155
@dvzrv I see your point. We will change accordingly.

[2022-01-21 14:25] dvzrv commented on #155
You might also want to look into https://man.archlinux.org/man/hwdb.7 depending on device support.

[2022-01-21 19:54] dvzrv opened #162 "Possibility to have optional nitrokey 3 support"
Hi! When upgrading to 0.4.10 I realized (unfortunately only afterwards), that you added a new dependency (spsdk) in https://github.com/Nitrokey/pynitrokey/commit/bd5b91af1388a0ce97b9e716ccec34ba603f1b98#diff-50c86b7ed8ac2cf95bd48334961bf0530cdc77b5a56f852c5c61b89d735fd711.
The package on Arch Linux is currently broken.

The spsdk dependency drags in around two dozens of other packages, which will

[2022-01-22 10:21] szszszsz commented on #162
Hi! Thank you for your work!

Sure, we will take a look into it to at least ease the transition. Another thing is that Nitrokey 3 support might not be relevant to all users as well, so a default smaller package might be even better.

Connected:
- https://www.python.org/dev/peps/pep-0631/#optional-dependencies

[2022-01-22 11:22] robin-nitrokey commented on #162
Unfortunately, it is not possible to set default extras in Python, so this would mean that users would not install the nk3 feature by default but would have to select it manually.  I would prefer the nk3 command being part of the default installation.

@dvzrv Would it be possible for you to just remove the nk3 parts in the Arch package?  This should be possible with a rather small patch (remove `p

[2022-01-22 11:26] szszszsz commented on #162
@robin-nitrokey
1. Can we interface with Pip to ask it for downloading additional package?
2. This should not be a problem for users, as update is not an often operation. In my idea we could test for the `spsdk` package availability, and suggest to install the `spsdk` variant of pynitrokey when needed.
3. Regarding patch, we can do it on our side already, as suggested in point 2.

[2022-01-22 11:29] dvzrv commented on #162
Hm, yes, that's the case.

We have quite a few optional dependency packages for python packages though. In system package management the situation is similar in regards to visibility and way of installing (there is no "default optional", either it is a requirement or it is an optional dependency - sometimes also referred to as "suggests" in other package management systems), but also reflected in

[2022-01-22 11:38] robin-nitrokey commented on #162
Just to be clear, my concern was the default installation with pip.  Distributions are of course free to use their own package layout and default features.

Yeah, we can do that.  I can prepare a patch for further discussion.  I think it is just contrary to our general approach of making things as easy as possible for users.

[2022-01-22 11:46] dvzrv commented on #162
I've now used a fairly small patch to make this work on my side (for 0.4.13) until spsdk is packaged:

[code]
(btw: you have some tab poisoning in the pyproject.toml file)

[2022-01-22 11:56] dvzrv commented on #155
When looking at the required dependencies for spsdk, I also had a look at pyocd, which documents its udev requirements as such: https://github.com/pyocd/pyOCD/tree/main/udev

[2022-01-22 12:41] robin-nitrokey commented on #160
After an initial review, it looks like `cryptography` is the only dependency with breaking changes in the last years that would affect us.  That dependency is fixed in #161, so I think we can reduce this to medium priority and add sensible minimum versions for all other dependencies in the future.

[2022-01-22 12:43] szszszsz commented on #160
Agreed

[2022-01-24 13:11] robin-nitrokey opened #164 "Missing cbor dependency on Windows"
[Original report](https://support.nitrokey.com/t/nitropy-lasst-sich-auf-windows-10-nicht-starten/3815)

[code]

Observations:
- `cbor` is present in the `pyproject.toml` dependency list but not in `ci-requirements.txt`.
- [`wine-build/build-wine-docker.sh`](https://github.com/Nitrokey/pynitrokey/blob/master/wine-build/build-wine-docker.sh#L103-L108) should use both, but maybe the dependency instal

[2022-01-24 13:13] robin-nitrokey commented on #164
From the build logs:
[code]

[2022-01-28 22:40] Franzl123 opened #167 "unable to update NK3A NFC, Connection issue"
Hello,

i try to update the firmware of my NK3A USB with nitropy 0.4.13 (on linux mint 19.3). After touching the button to start the bootloader mode, I get the following error:
[code]

but when I run "nitropy nk3 test" the NK is detected at /dev/hidraw4

i also tried the udev rules from #153, but nothing changed.

[code]
[code]

edit:

using the -p option also doesn't work
[code]

[2022-01-29 11:37] robin-nitrokey commented on #167
This looks like a udev issue too.  Can you please post the udev rules you are using and where you placed them?  Did you try rebooting after activating the rules?

You can also try to run these commands for easier debugging:

[code]

The first one puts the device into bootloader mode and should work for you, the second one will probably fail on your system as long as the udev rules for the bootload

[2022-01-29 14:21] robin-nitrokey commented on #167
You can also perform these steps to debug the udev rules:

1. Use `nitropy nk3 reboot --bootloader` to reboot to bootloader mode
2. Check that there is an entry like this in `dmesg`:
[code]
3. Determine the full path for the device, in my case `hidraw4`:
[code]
4. Simulate a udev event for that path:
[code]
    In the output, you should see that the file with the Nitrokey 3 udev rule is read, that

[2022-01-29 23:57] Franzl123 commented on #167
[code]
[code]

[code]
[code]
with hidraw7:
[code]
[code]

i use the udev rules from https://raw.githubusercontent.com/Nitrokey/libnitrokey/master/data/41-nitrokey.rules

[code]

edit:

after done those steps, i tried an update again. and say what? it works!
the output of nitropy nk3 test is different (except the firmware-version)
[code]
the NK is now found at /dev/hidraw6 and there is now an value

[2022-01-29 23:58] Franzl123 commented on #167
[code]
[code]

[code]
[code]
with hidraw7:
[code]
[code]

i use the udev rules from https://raw.githubusercontent.com/Nitrokey/libnitrokey/master/data/41-nitrokey.rules

[code]

after done those steps, i tried an update again. and say what? it works!
the output of nitropy nk3 test is different (except the firmware-version)
[code]
the NK is now found at /dev/hidraw6 and there is now an value for UU

[2022-01-31 09:45] robin-nitrokey commented on #167
Thanks for the update!  So running the `update` command without `reboot` always fails?  In that case, it might be a timing issue.  We already have a mechanism to wait for the required USB device to appear, but it does not check whether the permissions are right.  I will prepare a patch that changes this mechanism.

[2022-01-31 11:14] robin-nitrokey commented on #167
You can now test my [fix](https://github.com/robin-nitrokey/pynitrokey/commit/ad922d5874c39192621a0508696f0e19999a5371) if you want to:

[code]

This should now work without rebooting manually,  If it does not, please send me the nitropy log file for the run.

[2022-01-31 16:02] #137 closed

[2022-01-31 19:23] robin-nitrokey commented on #164
Fixed in #165.

[2022-01-31 19:23] #164 closed

[2022-01-31 19:25] robin-nitrokey opened #170 "DLL path invalid '.\libusbsio.dll' on Windows"
With the pre-compiled Windows binary, we now get a missing DLL error:

[code]

I tried to fix it in f5420fb2073e8aac1f540954937635c91f213ded but that did not work.

[2022-02-01 09:31] robin-nitrokey opened #171 "Fix udev rules message"
[Broken link](https://www.nitrokey.com/documentation/installation#p:nitrokey-fido2&os:linux) in [`check_root`](https://github.com/Nitrokey/pynitrokey/blob/master/pynitrokey/cli/__init__.py#L42):

[code]

[2022-02-01 12:01] daringer opened #173 "Not pressing the touch button - received CTAP error"
During `nk3 update` if the touch button is not pressed

[code]

[2022-02-01 12:44] robin-nitrokey commented on #173
So you just let the request time out to reproduce the error?

[2022-02-01 13:39] daringer commented on #173
yes, the timeout after `Please press the touch button to reboot the device into bootloader mode ...` is roughly 10secs for me

[2022-02-01 14:05] robin-nitrokey commented on #111
Implemented in #172.

[2022-02-01 14:05] #111 closed

[2022-02-01 14:07] robin-nitrokey commented on #92
This specific error has been fixed and the general issue should be solved by specifying the minimum required dependency versions as suggested in https://github.com/Nitrokey/pynitrokey/issues/160, so I think this can be closed.  Do you agree?

[2022-02-01 14:08] robin-nitrokey commented on #8
Implemented in #103.

[2022-02-01 14:08] #8 closed

[2022-02-01 18:24] szszszsz commented on #92
Indeed. Closing as done.

[2022-02-01 18:24] #92 closed

[2022-02-01 18:27] szszszsz commented on #173
Interesting. I think the error should be different on the timeout event here, certainly not CBOR parsing one.

[2022-02-02 08:05] robin-nitrokey commented on #171
I started working on a new guide for docs.nitrokey.com [here](https://github.com/robin-nitrokey/nitrokey-documentation/blob/nitropy/software/nitropy/linux/udev.rst).

[2022-02-02 11:37] Franzl123 commented on #167
i tried it several times an yes, most of times it fails.

i say now most of times, because something changed:
if i run the `update` command twice, the first one will fail, the second one works. in the time of my first post, the second try failed with an error, that no NK is found and i need to replug the NK or execute `reboot`.
I don't know what changed, maybe an change in firmware 1.0.1?

this gi

[2022-02-02 11:50] robin-nitrokey commented on #167
@Franzl123 Please try again and run `pip install -U pip` after `source venv/bin/activate`.

[2022-02-02 12:24] Franzl123 commented on #167
both errors are solved!
i executed `update` 5 times in a row, with and without re-plug NK and it worked every time.

here is the log from the last update-process (hidraw is different, because no other usb-device is connected this time):

[code]

[2022-02-02 12:41] robin-nitrokey commented on #167
@Franzl123 Great!  Thank you for running the tests!  I will prepare a PR so that we can fix this issue for all users with the next release.

[2022-02-02 12:51] robin-nitrokey commented on #154
Implemented as part of #177, should be updated to link to a help page once it is available.

[2022-02-02 17:37] #167 closed

[2022-02-02 18:27] robin-nitrokey commented on #173
I have no idea why, but that error is coming from the firmware:

[code]

https://github.com/solokeys/admin-app/blob/99951ba7bc2c577dac1c7a1bb74999eb29e01a34/src/admin.rs#L94

[2022-02-07 08:45] #142 closed

[2022-02-07 08:47] #173 closed

[2022-02-07 08:51] robin-nitrokey commented on #133
First steps towards this direction in 729b1d5f70418c6cf3941e42809f7ba39315bbcd.

[2022-02-08 09:00] samweisgamdschie opened #184 "ModuleNotFoundError with newest versions of pynitrokey and spsdk"
Hello, I get this error when trying to run `nitropy`.

Python version: 3.8.12
OS: OpenSUSE Tumbleweed
pynitrokey==0.4.13
spsdk==1.6.0

[code]

When changing bootloader.py line 18 to:

`from spsdk.sbfile.sb2.images import BootImageV21`

it works:

[code]

[2022-02-08 09:05] szszszsz commented on #184
Hi!
Indeed, we need to make a new release yet adjusted to spsdk 1.6.0. I am just working on it. For a quick workaround you can downgrade spsdk to 1.5.0, like:
[code]

Details:
- https://github.com/Nitrokey/pynitrokey/pull/180#issuecomment-1031209339

[2022-02-08 09:23] szszszsz commented on #171
How to access that page?

[2022-02-08 09:24] robin-nitrokey commented on #171
It’s not yet available, waiting for feedback from @daringer.

[2022-02-08 09:27] samweisgamdschie commented on #184
OK thanks. Wow, github didnt show me the PR.

[2022-02-08 09:32] szszszsz commented on #184
New release `0.4.15` is already available on PIP. To update:
[code]

Please reopen in case it would not work for you. Closing as done.

[2022-02-08 09:32] #184 closed, assigned to nobody

[2022-02-08 09:34] robin-nitrokey commented on #171
I’ve created a draft PR for easier tracking: https://github.com/Nitrokey/nitrokey-documentation/pull/80

[2022-02-08 09:42] samweisgamdschie commented on #184
Can confirm it is fixed with `0.4.15`. Thanks for the pretty fast reply!

[2022-02-08 09:43] szszszsz commented on #184
Great! Thank you for retesting!

[2022-02-08 13:17] szszszsz commented on #154
Bump

[2022-02-08 13:31] robin-nitrokey commented on #154
I’d like to keep this open as a reminder to update the help text once the udev help page is released (https://github.com/Nitrokey/nitrokey-documentation/pull/80).

[2022-02-08 13:53] #135 closed

[2022-02-08 15:29] szszszsz opened #188 "Windows: cannot execute due to the missing Python libraries"
After installation through installer I cannot execute pynitrokey from console (or file browser) due to the missing Python libraries.

Found at:
- https://github.com/Nitrokey/pynitrokey/pull/176#issuecomment-1032727753

Exact message:

Edit: setting as medium, since there is a workaround by using a standalone binary
Edit: single executable works

[2022-02-08 17:40] robin-nitrokey commented on #188
Unfortunately, I don’t see any related messages in the build log and I can’t find any similar issues.

[2022-02-08 19:57] jmue opened #189 "Critical error while calling 'nitropy nk3 fetch-update' twice"
Maybe you could provide a gentle error in case the firmware file already exists locally?

[code]

[2022-02-09 07:35] robin-nitrokey commented on #189
Thanks for the report!  This is a good point.  I will try to make that error less intimidating. (Related to #133 – we are currently just using `Exception` for everything that could go wrong.)

[2022-02-09 08:39] szszszsz opened #191 "Refactor update implementation across models"
Refactor update implementation across device's models to make it homogeneous and equally good experience.

Connected:
- https://github.com/Nitrokey/pynitrokey/pull/185#issuecomment-1032615300

[2022-02-09 08:43] szszszsz commented on #171
@dvzrv Unfortunately yes, due to a bug in CI. Sorry about that. I will make another release today.

[2022-02-09 08:48] #189 closed

[2022-02-10 09:55] maaattes opened #192 "Firmware Update fails on Nitrokey 3C"
My system:
Fedora 35
Python 3.10.2
pynitrokey installed via `pip install --user pynitrokey`

[code]

[2022-02-10 10:01] maaattes commented on #192
I've copied the udev rules beforehand.

[2022-02-10 10:05] szszszsz opened #193 "Add general catch-all exceptions block"
Add catch-all block at the top level of the application, so that unhandled exceptions are logged, and user properly instructed with the further steps.
Connected: #192

[2022-02-10 10:05] robin-nitrokey commented on #192
@maaattes Can you please follow the steps described [in this comment](https://github.com/Nitrokey/pynitrokey/issues/167#issuecomment-1024921046) to make sure that the udev rules are applied correctly?

[2022-02-10 10:05] robin-nitrokey commented on #193
I will take care of that if you don’t mind.

[2022-02-10 10:14] maaattes commented on #192
Sure. Here are my results:
[code]

[2022-02-10 10:16] robin-nitrokey commented on #192
Thank you.  Apparently, the udev rules are loaded but not applied.  Can you share the content of `/etc/udev/rules.d/41-nitrokey.rules` please?  Are you using systemd on your system?

[2022-02-10 10:21] maaattes commented on #192
Yes, I'm using systemd.
I've just updated the udev rules so I can't give you the content of the "old" rules. But I'm pretty sure that these were up-to-date.
Running `nitropy nk3 test` gives me on error.

[code]
Could this be the cause?

[2022-02-10 10:24] robin-nitrokey commented on #192
No, the `nitropy nk3 test` error is unrelated.  Did you set a FIDO2 PIN?  In that case, you have to call `nitropy nk3 test --pin <yourpin>` to fix the test failure.

Does the update work now?  If not, what are your current udev rules?

[2022-02-10 10:24] szszszsz opened #194 "Remove PIN argument from NK3 test command"
Remove PIN argument from `nitropy nk3 test` command, to not leave it in the shell history.
Ask for it from stdin instead.

[2022-02-10 10:31] szszszsz commented on #192
Perhaps you have not reloaded Udev service after copying the rules? Either that, or the previous set was outdated. Anyway, it works now.
@robin-nitrokey We should try to extend the Udev diagnostics in pynitrokey with some semi-automatic procedure for such occasions like this one.

Leaving ticket open until correcting the initial UI error message.

[2022-02-10 10:42] robin-nitrokey opened #196 "Add exc_info to local_critical"
I find myself writing code like this quite often to preserve exception stacktraces in the log file:

[code]

I suggest to add an `exc_info` argument to `local_critical` that is used to log the exception so that I could write this instead:

[code]

[2022-02-10 10:53] #193 closed

[2022-02-10 10:55] szszszsz commented on #196
Looks good!

[2022-02-10 10:56] szszszsz commented on #192
Corrected through #195. Closing as done.

[2022-02-10 10:56] #192 closed

[2022-02-10 10:58] szszszsz opened #197 "Extend the Udev diagnostics"
Extend the Udev diagnostics, so that we could recognize from logs directly:
- [ ] if the Udev rules are in place
- [ ] if they are the current version
- [ ] if they are loaded
- [ ] automatic test procedure passes

See below for details:
- https://github.com/Nitrokey/pynitrokey/issues/167#issuecomment-1024921046

Connected:
- https://github.com/Nitrokey/pynitrokey/issues/192

[2022-02-10 12:16] robin-nitrokey commented on #197
I don’t know if we can and should automate this completely.  My suggestion is to start with a `nitropy check-udev` command that tries to automate as much as possible.  We can test this on multiple systems and use it for debugging.  If it turns out to work reliably and fully automatically, we can execute it by default on connection issues.  Do you agree?

[2022-02-10 12:18] robin-nitrokey commented on #194
I’d like to keep a non-interactive way to input the pin, at least via environment variable.  But I think we could also just keep the `--pin` flag and add a stdin query if it is not set.

[2022-02-10 12:50] szszszsz commented on #194
We should not encourage passing PIN like that. I think it would be best to require `--force` to pass `--pin` like that, and properly describe this switch as dangerous to use in production. Sure, for tests its alright.

[2022-02-10 12:52] szszszsz commented on #197
My motivation here is to replace long instructions for the user with an automatic log gathering, thus cutting the debugging/support time. I do not want to automate all, but support us. If it works, great! If not, then we could switch to manual information gathering. No need to test that across systems imho.
I like the command name!

[2022-02-10 15:10] robin-nitrokey commented on #197
Not necessarily before we release it, but we should try to check the behavior on different distributions, locales etc.  Some details might be different from system to system.

[2022-02-11 10:32] szszszsz opened #198 "Check for the own updates"
Add check for the own updates when calling firmware update operation for any model, and warn user in case there is a newer release available.
The motivation is here to make sure, that the latest update procedure is used, or at least the user is warned that the new release is available. The check for the latest firmware is done anyway, thus this will not make any unexpected network calls.

To reite

[2022-02-12 17:35] dvzrv commented on #162
Just as a follow-up: I have now managed to at least already get pyocd packaged and am working towards packaging spsdk as well.

However, I am seeing some issues with their use of prebuilt shared libraries (via [pypemicro](https://github.com/NXPmicro/spsdk/issues/30) and [libusbsio](https://github.com/NXPmicro/spsdk/issues/36)). Is the functionality provided by libusbsio in use for nitrokey3? I am

[2022-02-13 23:43] dvzrv commented on #162
Digging further into spsdk revealed that larger parts of it rely on libusbsio (which vendors prebuilt shared libraries for USB discovery). The removal of libusbsio is quite invasive and I am at this point not sure whether this will leave spsdk in a functioning state (in any case this is not a feasible way of working with an upstream and I am absolutely not happy about that situation).

Additionall

[2022-02-14 19:17] dvzrv commented on #162
That is unfortunate and currently I wish I had looked into libusbsio first as it is a show stopper (for distributing it as a binary package and even for distributing it as an sdist tarball for pypi.org).

If those are viable options I'd be happy to test them (I just don't yet have a nitrokey 3 to test with).

That would be very much appreciated (rather sooner than later). Meanwhile I will pull the

[2022-02-17 12:01] #170 closed

[2022-02-17 12:05] szszszsz commented on #146
As stated in https://github.com/Nitrokey/pynitrokey/pull/176#issuecomment-1041867447, I run firmware update process on a Windows 10 PC, and it went quite fast, under 10 seconds. In that case I see this ticket as being completed, hence closing as Done.

[2022-02-17 12:05] #146 closed

[2022-02-17 12:48] dvzrv commented on #162
FWIW, in case you see a future in using spsdk for your toolchain, I would urge you to get in contact with NXP (see https://github.com/NXPmicro/spsdk/issues/36#issuecomment-1040691407) to either switch to using libusb or providing open sources for libusbsio. As it stands their tooling is unfortunately not trustworthy or auditable which (IMHO) is a problem for users of nitrokey 3 as well. I am of th

[2022-02-17 16:26] szszszsz opened #203 "Drop experimental flag for Nitrokey 3 firmware update on Windows"
Drop experimental flag for Nitrokey 3 firmware update on Windows

[2022-02-17 16:26] szszszsz commented on #203
@robin-nitrokey Anything against?

[2022-02-17 16:29] szszszsz opened #204 "Unify common commands across models"
Unify common commands across models, e.g. instead of calling:
`nitropy <model> rng`
use
`nitropy rng`
which would detect Nitrokey, and work with it (asking which one in case of multiple devices).

Connected:
- https://github.com/Nitrokey/pynitrokey/pull/201#pullrequestreview-884836195

[2022-02-17 16:51] szszszsz opened #205 "Default list command fails"
Default list command fails with below error:
[code]
Details below.

<details> <summary> Log </summary>

[code]

</details>

[2022-02-17 16:58] #205 closed

[2022-02-17 17:37] szszszsz commented on #188
On Windows the binary from the installer still complains about missing `python3.6.dll`. Tested both .17 and .18.

[2022-02-24 19:00] szszszsz commented on #203
As discussed, this will be dropped in the next release.
cc @daringer

[2022-03-08 17:37] szszszsz opened #207 "Uncaught exception on connection issues"
Uncaught exception on connection trouble clutters the screen, confusing user. To catch it, and leave human-readable message instead.

Details:
- https://support.nitrokey.com/t/update-nk3-not-working/3950

<details>

<summary>
Output
</summary>

[code]

</details>

[2022-03-09 20:27] jans23 opened #208 "Unrelated information when accessing NetHSM"
For accessing a NetHSM the following information is mostly irrelevant. Also the link to www.nitrokey.com/documentation/... is outdated and should be updated.

![Bildschirmfoto von 2022-03-09 21-24-46](https://user-images.githubusercontent.com/1450547/157529975-93e25643-6035-4238-8ac7-376bc7d219fd.png)

[2022-03-09 22:13] dvzrv commented on #162
The upstream issue has now been resolved, because NXP made libusbsio sources available under the terms of the BSD-3-clause and I have been able to create a package from it for Arch Linux.

I think this ticket can be closed.

[2022-03-10 08:51] szszszsz commented on #208
Udev rules screen is shown when pynitrokey is run with root privileges. We can check if nethsm subcommands are used, and disable such help for this particular call.

Connected: https://github.com/Nitrokey/pynitrokey/issues/171

[2022-03-10 09:13] szszszsz commented on #208
I can't find the mentioned docs string anywhere - perhaps you use outdated version? Can you check?

[2022-03-10 09:23] #208 closed

[2022-03-10 09:25] szszszsz commented on #208
Please reopen in case you have the latest version (0.4.19) and still experience this problem.
The update command is: `pip3 install -U pynitrokey`

I have added small changes in the meantime:
- show version in the welcome string
- describe how to hide check_root warning in the help screen

[2022-03-10 09:28] jans23 commented on #208
Right, the version is 0.4.9

[2022-03-10 09:50] szszszsz commented on #208
Removed udev rules-related screen for NetHSM - see below example output, with `fido2` subcommand for comparison .

[code]

[2022-03-10 09:58] #203 closed

[2022-03-10 18:45] robin-nitrokey opened #210 "Show release notes on firmware update"
We could – either per default or if requested via flag or prompt – display the release notes for the firmware update to install, or for all firmware updates from the current version up to the version to be installed.

[2022-03-15 13:49] #207 closed

[2022-03-31 10:32] szszszsz opened #212 "Document the need for Python 3.6"
Document the need for Python 3.6 minimal supported version

Connected:
- https://github.com/Nitrokey/pynitrokey/pull/121#issuecomment-1019248836
- https://github.com/Nitrokey/pynitrokey/pull/158

[2022-04-07 08:52] robin-nitrokey opened #213 "nk3 test: Extend FIDO2 attestation certificate check"
Currently, we display the hash of the FIDO2 attestation certificate if it does not match the expected value:

https://github.com/Nitrokey/pynitrokey/blob/80fcee7b4a6d57afd4d59b5e1af113d29101cbe4/pynitrokey/cli/nk3/test.py#L138-L142

We should extend this check to show an error message if the firmware version is > 1.0.2 and the certificate is the pre-1.0.2 one, indicating that the data migration fa

[2022-04-15 08:45] szszszsz opened #215 "Nitrokey Start listed as none"
Nitrokey Start is listed as

OS: Windows, Linux
To investigate and correct.

Connected:
- #27
- https://support.nitrokey.com/t/nitrokey-start-gelistet-als-none-none-none-none/4044

[2022-04-19 10:23] szszszsz opened #217 "Make PR template"
Make a PR template to remind about basic checks for the contributed code:

- tested it on Python3.6
- run `make check` or `make fix` for the formatting check
- signed commits

Connected:
- https://github.com/Nitrokey/pynitrokey/pull/216

[2022-04-21 09:31] szszszsz commented on #212
Also mentioned in #219

[2022-04-23 07:14] #217 closed

[2022-04-23 12:11] szszszsz opened #221 "Nitrokey 3 v1.0.3 update not visible"
We have received a report, that the latest update detected by `nitropy` is v1.0.2. To investigate.

[2022-04-23 12:13] szszszsz opened #222 "Add environment information to the log"
Environment information is not always added to the logs. It would be desirable to have it for the Nitrokey 3 update process.
Currently it is implemented for Nitrokey Start, which could be moved to the main execution.

[2022-04-25 11:39] robin-nitrokey commented on #221
Cannot reproduce:

[code]

Can you please provide logs and the pynitrokey version?

[2022-04-25 11:42] szszszsz commented on #221
Logs: [log.zip](https://github.com/Nitrokey/pynitrokey/files/8554145/log.zip)
Version: 0.21

[2022-04-25 11:45] robin-nitrokey commented on #221
Could there be a HTTP proxy or cache involved?

[2022-04-25 11:49] robin-nitrokey commented on #221
And can you please check if manually querying the GitHub API works by providing the output of this command?

[code]

[2022-04-25 13:03] szszszsz commented on #221
Works for me. I do not know about the original reporter. Perhaps logs are from before the release, and just processing the ticket took so long it passed the date. Again, we need more data in the log #222 .
[code]

[2022-05-02 14:26] nitro-rico commented on #215
Command line tool to interact with Nitrokey devices 0.4.21
:: 'Nitrokey FIDO2' keys
:: 'Nitrokey Start' keys:
FSIJ-1.2.15-34353135: Nitrokey Nitrokey Start (RTM.12)
:: 'Nitrokey 3' keys

works with following components:

Driver=usbfs

scdaemon/focal-updates 2.2.19-3ubuntu2.1 amd64
gnupg2 (2.2.19-3ubuntu2.1)

Linux 5.13.0-40-generic #45~20.04.1-Ubuntu SMP x86_64 x86_64 x86_64 GNU/Linux

[2022-05-03 07:56] szszszsz commented on #215
Works on our side. To check, if this could be caused by the firmware update process somehow.

[2022-05-04 11:19] szszszsz commented on #215
Looks like this is sourced rather in the Nitrokey Start firmware / this given device flashing setup, than in pynitrokey.

Nothing to do on this side. Leaving open for monitoring, and gathering similar reports in the future.

[2022-05-04 11:21] szszszsz commented on #221
No new related reports received. Closing as done.
Keep #222 in mind to avoid similar in the future.

[2022-05-04 11:21] #221 closed

[2022-05-05 15:48] nitro-rico opened #223 "Fails to run with cryptography==37.0.2"
Current release fails to work with `cryptography==37.0.2`

#### Workaround
[code]

[2022-05-05 16:52] nitro-rico commented on #223
![Bildschirmfoto vom 2022-05-05 17-08-55](https://user-images.githubusercontent.com/102814659/166973386-77c98708-bff3-43ce-9884-b50813a8cb41.png)

[2022-05-16 15:47] daringer commented on #55
fixed by this PR: https://github.com/Nitrokey/pynitrokey/pull/199

[2022-05-16 15:47] #55 closed

[2022-05-16 15:50] szszszsz commented on #55
Note to add: creating the actual partition will not be implemented, as per internal discussion.
End-user should do it on his own with the available OS tools, similarly as with the flash storage devices.

[2022-05-20 07:12] robin-nitrokey commented on #223
`spsdk` currently does not work with `cryptography` 37 (https://github.com/NXPmicro/spsdk/issues/42) and it drops Python 3.6 support, so we have to pin it to < 37.

[2022-05-20 08:12] #223 closed

[2022-05-20 12:15] szszszsz commented on #212
Pasting relevant comment from #224:

- https://repology.org/project/python/badges

cc @robin-nitrokey

[2022-05-23 10:02] sbaier1 opened #226 "Pycryptodome cannot be loaded on M1 macs"
The install instructions for macOS don't work on M1 macs. Tried to install the CLI to use with my nitrokey 3
I installed into the homebrew python env (which worked) and then tried running the CLI.

Can't find any general info on this specific shared lib or why it's an x64 binary.

[code]

[2022-05-23 10:34] szszszsz commented on #226
Hi!
Looks like a problem with the Pycryptodome, one of the dependencies. Potentially connected:
- https://github.com/Legrandin/pycryptodome/issues/615

@robin-nitrokey Can you take a look?

[2022-05-23 10:50] sbaier1 commented on #226
FWIW i'm trying to build the failing dependencies from source, so far i've done:

[code]

and

[code]

but it still fails after successfully installing these:
[code]

[2022-05-23 11:03] nitro-rico opened #227 "Change Client SDK Attribute for Current API"
![image](https://user-images.githubusercontent.com/102814659/169805720-022a32a9-62e9-4463-8aa9-86762596b0a0.png)

[2022-05-23 11:04] szszszsz commented on #227
Hi! Please provide text representation as well for, thank you!

[2022-05-23 11:10] nitro-rico commented on #227
nitropy nethsm --host $NETHSM_HOST list-keys

Command line tool to interact with Nitrokey devices 0.4.21
[auth] User name for NetHSM nethsmdemo.nitrokey.com: admin
[auth] Password for user admin on NetHSM nethsmdemo.nitrokey.com:
Keys on NetHSM nethsmdemo.nitrokey.com:

Critical error:
An unhandled exception occurred
	Exception encountered: ApiAttributeError("PublicKey has no attribute 'restrictio

[2022-05-23 11:20] nitro-rico opened #228 "Nitropy Doesn't Terminate When Executed to Export a Certificate"
nitropy nethsm --host $NETHSM_HOST --username Operator get-key myFirstKey --public-key > public.pem

- Certificate is exported
- Requires Ctrl-C to terminate
- Otherwise it hangs

[2022-05-23 11:25] robin-nitrokey commented on #228
As you do not specify the password on the command line, nitropy shows a password prompt.  As you redirect the output to a file, the prompt is written to that file but nitropy still waits for the password input.  We could print the prompt to stderr instead to avoid this.  @szszszsz Thoughts?

[2022-05-23 11:43] robin-nitrokey commented on #227
To fix this, we have to update the scheme definition in `nethsm-scheme.json`, generate the client code (see the `nethsm-client` target of the Makefile) and then update `pynitrokey` accordingly.

[2022-05-23 11:47] robin-nitrokey commented on #212
We should also describe the platforms we want to support in the developer guide.  I think you answered that question previously, but I can’t find it atm.  I think latest Ubuntu and latest Ubuntu LTS?

[2022-05-23 12:31] sbaier1 commented on #226
[code]

perhaps it could be related but i have some miniconda setup params in my zshrc.

[2022-05-23 12:54] robin-nitrokey commented on #226
Interesting.  The `pycryptodome-3.14.1-cp35-abi3-macosx_12_0_arm64.whl` file is not available on [PyPI](https://pypi.org/project/pycryptodome/#files).  It is probably cached from your manual built.  Can you please remove the package and then repeat the `pip install` step with the `--no-cache-dir` and `--verbose` option so that we see how it is installed from scratch?

[code]

[2022-05-23 13:27] sbaier1 commented on #226
Interesting indeed, i ran it again with `pip install pycryptodome --no-cache-dir --verbose --force-reinstall`

and that fixed the issue. (Your test import works now).

It also still built some binaries though:

<details>
[code]
</details>

[2022-05-23 13:31] szszszsz commented on #228
Yes, I highly recommend that. This should be the standard behavior across pynitrokey, so that only the actual results are printed to stdout for the scripting.

[2022-05-23 13:35] szszszsz commented on #212
Yes, writing that down would be good. I think we had in mind support 2 LTS distributions back, which would mean 20.04 right now. Let me confirm that.

[2022-05-23 14:18] robin-nitrokey commented on #226
I’m glad that it’s working now.  As I don’t see the underlying reason for the problem and it might be a one-time caching issue, I think we can close this issue for now.  If you encounter this issue again or if other users experience it too, we can investigate further and update the installation instructions.

[2022-05-23 14:18] #226 closed

[2022-05-23 14:22] szszszsz commented on #212
@robin-nitrokey Only the current LTS, so 22.04.

[2022-05-23 14:43] robin-nitrokey commented on #228
We currently have three ways to issue prompts: 1) `click.prompt`/`click.confirm`, 2) setting `prompt=True` for a `click` option and 3) `pynitrokey.helpers.AskUser`.  This can be easily fixed for 1) by setting `err=True` and for 3) by modifying `AskUser.get_input`.  For 2), we have to create a helper function that can be used as a callback with the `default` option as `click` only supports stdout w

[2022-05-23 15:10] robin-nitrokey opened #229 "NetHSM: Add support for recent API changes"
API changes as of 2022-05-23:
- Breaking changes
  - [x] `/keys POST`: changed response
  - [x] `/config/tls/csr.pem PUT`: changed to `POST`
  - [x] `PublicKey` changed (https://github.com/Nitrokey/pynitrokey/issues/227)
  - [x] `reset` renamed to `factory-reset`
- Non-breaking changes
  - [ ] `/keys GET`: new optional argument `filter`
  - [ ] `/keys POST`: new optional argument `tags`
  - [ ] `/

[2022-05-23 20:20] ksy63 opened #230 "nitropy fido2 verify fails when pin is set"
nitropy version 0.4.22
Device Firmware version: 2.4.0
Device name: Nitrokey Fido2

Running `nitropy fido2 verify` before a pin was set:

Running `nitropy fido2 verify` after a pin was set:

The critical error message appears immediately. A pin was not requested

The log file contains the following:

Problem:

It seems the verify command does not request a pin and fails immediately.

[2022-05-23 20:27] robin-nitrokey commented on #230
Thanks for the report!  #216 will fix this by adding PIN handling to the `verify` command.

[2022-05-24 11:12] szszszsz opened #232 "Nitorkey Start firmware update improvements"
Make Nitrokey Start firmware update process more reliable by:
- [ ] Checking for access errors, and suggest running update with a root if there are any as a fail-safe workaround
- [ ] Checking for Udev rules in place, suggest installation if needed and with that disallowing update without a force flag, and finally monitor Udev logs for the related issues before failing

[2022-06-08 11:31] rickflowexe opened #233 "pynitrokey on a fresh install, problem with the latest version reproduced locally with pipx on Ubuntu 22.04:"
[code]

[2022-06-08 11:41] rickflowexe commented on #233
pynitrokey on a fresh install, problem with the latest version reproduced locally with pipx on Ubuntu 22.04

[2022-06-09 11:00] szszszsz commented on #212
Helpful resources to establish the supported version:
- https://repology.org/project/python/badges
- https://repology.org/badge/vertical-allrepos/python.svg

Looks like the oldest one is on the current stable Debian - Python 3.9.2.

[2022-06-10 06:12] #212 closed, assigned to nobody

[2022-06-10 14:38] robin-nitrokey commented on #227
Fixed by #240.

[2022-06-10 14:38] #227 closed

[2022-06-13 06:25] jans23 commented on #229
`reset` has been renamed to `factory-reset` now.

[2022-06-13 09:36] jans23 commented on #229
Documentation has been updated too. (the 2nd "soon" point above)

[2022-06-13 14:51] robin-nitrokey commented on #139
Done in #240.

[2022-06-13 14:51] #139 closed

[2022-06-22 08:08] robin-nitrokey opened #246 "CI: Run daily PyPI integration tests"
We should have a daily CI job that installs pynitrokey from PyPI and executes `nitropy --help` to make sure that there are no compatibility issues with updated dependencies.  (Previously discussed in #15; #76 contains an implementation for CircleCI.)

[2022-06-22 08:14] #188 closed

[2022-06-22 08:17] robin-nitrokey commented on #59
I think we have this covered by the [documentation on docs.nitrokey.com](https://docs.nitrokey.com/software/nitropy/index.html) – @szszszsz can we close this issue?

[2022-06-22 08:18] robin-nitrokey commented on #61
Our [recommended installation process](https://docs.nitrokey.com/software/nitropy/all-platforms/installation.html) now uses a virtual environment, so I think we can close this issue – @szszszsz?

[2022-06-22 08:31] dvzrv commented on #61
FWIW, feel free to include the installation method for Arch Linux in your documentation (if you want to):

[code]

[2022-06-23 11:41] szszszsz commented on #59
If this covers the doubts explained in the support ticket, then sure, let's close it!

[2022-06-23 11:45] szszszsz commented on #61
The main idea behind this ticket was to make a single executable standalone binary/package, which would not require further network communication (like AppImage). Again, I have not heard about such requests anymore, hence I guess we could consider this outdated and close it.
Let's reopen otherwise.

[2022-06-23 11:45] #61 closed

[2022-06-23 16:37] #171 closed

[2022-06-28 09:41] szszszsz commented on #134
Ad. https://github.com/Nitrokey/pynitrokey/issues/134#issuecomment-1167414113, we have this realized already through `NKDEV` variable (worth to write about it in the shorter error message):

https://github.com/Nitrokey/pynitrokey/blob/e59456c8c29350c2b7f03d0dccfbd6fa5c95b9bf/pynitrokey/cli/__init__.py#L108-L120

[2022-06-29 13:28] nitrosimon opened #249 "Nitrokey FIDO2 128kB firmware update not working"
1. Either there was error while downloading the firmware, or this is the NK FIDO2 128kB, for which we do not have the automatic update support in pynitrokey or Nitrokey WebUpdate. For the latter case I have described manual update to NK FIDO2 2.4.1 128kB.
2. Pynitrokey failed to detect, that the currently used firmware is newer or equal to the currently published latest.

See ticket HT30504

[2022-07-11 11:31] szszszsz commented on #249
Connected: https://github.com/Nitrokey/pynitrokey/pull/186

[2022-07-12 11:13] #97 closed

[2022-07-12 11:44] robin-nitrokey commented on #98
@Niklap97 Do you remember whether you used the binary or the installer?  Can you please try again with the binary from the latest release?

[2022-07-12 16:03] Niklap97 commented on #98
@robin-nitrokey I used the binary.
Its still the same for the latest release.

[2022-07-13 17:41] robin-nitrokey opened #253 "nk3 test: Improve error message if FIDO2 attestion cert is missing"
Improve the error message for `nitropy nk3 test` if the FIDO2 attestation cert is missing ([relevant code snippet](https://github.com/Nitrokey/pynitrokey/blob/66134d831133cc5d95b950ac9526d3d77f554879/pynitrokey/cli/nk3/test.py#L172)).

https://github.com/Nitrokey/pynitrokey/blob/66134d831133cc5d95b950ac9526d3d77f554879/pynitrokey/cli/nk3/test.py#L172

Instead we should check if `"x5c" in att_stmt`

[2022-07-22 15:55] robin-nitrokey commented on #210
- [ ] Add a link to the `license.txt` (attached to the release) when downloading a firmware image.

[2022-07-26 12:04] robin-nitrokey opened #257 "nk3 update: Support --version flag"
Currently, to install a specific version, we have to first run `nk3 fetch-update --version <...>` and then install it with `nk3 update`.  Adding a `--version` option to `nk3 update` would make this easier.

[2022-08-01 07:37] robin-nitrokey opened #259 "Update click dependency to >= 8.0.0"
`spsdk` 1.6.3 requires `click` < 8.0.0 which blocks us from upgrading `click` and `black` (see <https://github.com/Nitrokey/pynitrokey/commit/92de9e8553508e54c0ea9ecf117e2b97006bd79d>).  Once we drop support for `spsdk` 1.6.3, we can update these dependencies.  (`spsdk` 1.7.0 fixes this issue but is not yet packaged for e. g. Arch Linux so we should still wait before upgrading.)

[2022-08-02 13:12] #93 closed

[2022-08-20 20:39] tglaeser opened #262 "FIDO2 FAILURE 'x5c', was: /dev/hidraw0: Permission denied as non-root user"
Nitrokey 3A Mini
OS: Linux
Distribution: Gentoo

As user `root` I installed `libnitrokey`
[code]
and as ordinary user `admin` I installed `pynitrokey`
[code]

The key is mounted on `/dev/hidraw0`
[code]

**Only user `root` seems to have `rw` access to the device.**

Therefore user `root` can access the key via `nitropy` just fine although some errors are logged on `fido_id`:
[code]
[code]
In contr

[2022-08-20 21:54] tglaeser commented on #262
The solution to the above described problem was to bring in group `plugdev` to my system. I achieved this by reinstalling `systemd` with use flag `fido2`:
[code]
The reason why I did this was actually that FIDO2 support doesn't seem to work with the key:
[code]
Any clue why the 3rd test fails with failure `x5c`?

[2022-08-22 12:25] robin-nitrokey commented on #262
@tglaeser I’m surprised that `systemd` does not support the `uaccess` mechanism with its default build settings.  It is not specific to FIDO 2.  Thanks for pointing this out!

It looks like the FIDO2 test failure is caused by an error during the device provisioning.  Unfortunately, it is not possible to fix it in field.  Please write a mail to support@nitrokey.com including your order number and a

[2022-08-22 12:25] #262 closed

[2022-08-23 13:15] #259 closed

[2022-09-05 00:58] lynxis opened #263 "nk3: nrf52: validate-update reports unknown signature"
When doing a manual fetch & validate of the nrf52 firmware, the firmware is signed by unknown.
The only known signature is a testkey in [nrf52.py](https://github.com/Nitrokey/pynitrokey/blob/master/pynitrokey/nk3/bootloader/nrf52.py#L58)

[code]

I'm using archlinux with nitropy 0.4.27.

[2022-09-05 11:54] robin-nitrokey commented on #263
Good catch, thanks for the report!  @daringer can you please add the production key (or send me the public key so that I can add it)?

[2022-09-12 13:45] #263 closed

[2022-09-12 13:51] robin-nitrokey opened #265 "pynitrokey >=0.4.26 not installable on Arm"
On Arm systems, pip only installs pynitrokey up to version 0.4.25.  This is probably due to the indirect dependency `pc_ble_driver_py` (pulled in by `nrfutil`), see https://github.com/NordicSemiconductor/pc-ble-driver-py/issues/202.

Related issues:
- https://github.com/NordicSemiconductor/pc-nrfutil/issues/337
- https://github.com/NordicSemiconductor/pc-nrfutil/issues/361
- https://github.com/Nor

[2022-09-13 10:53] szszszsz opened #266 "Add test firmware fido2 cert hashes"
Add test firmware fido2 cert hashes:
- `f1ed1aba24b16e8e3fabcda72b10cbfa54488d3b778bda552162d60c6dd7b4fa`

[2022-09-13 10:59] szszszsz commented on #266
On a second thought, probably this should make some warning about using the test certificate

[2022-09-13 11:45] robin-nitrokey commented on #266
I agree that this should cause a warning (or maybe just a different error message?).  This command is mainly intended for end users, and a test certificate should not be accepted in that setting.

[2022-09-13 11:46] szszszsz commented on #266
Agreed. Let's correct that as you suggest

[2022-09-26 11:47] mmerklinger opened #267 "Add confirmation for factory-reset, reboot, and shutdown for NetHSM"
The `factory-reset`, `reboot`, and `shutdown` commands don't ask for confirmation before performing a factory reset.
For safety reasons we want the user to confirm the action before it's executed.

[2022-09-28 19:39] robin-nitrokey commented on #266
We could also add a flag to `nk3 test` that can be used for dev devices.  Currently, this would mean adding the test FIDO2 cert to the list of accepted certs.

[2022-09-28 19:48] jans23 commented on #266
Test certificates should fail with the normal `test` command but could pass with an additional parameter such as `test --development` for example.

[2022-09-28 19:51] robin-nitrokey commented on #266
Yes, that’s what I had in mind.

[2022-09-28 21:04] robin-nitrokey commented on #266
This commit shows how this option could be added: https://github.com/Nitrokey/pynitrokey/pull/269/commits/e32c844995b7a03d99c66674d86fc8cb1d81e85d

[2022-10-02 09:17] leitmedium opened #270 "Firmware update fails on Nitrokey 3A NFC"
Hello,

the update of the firmware on a Nitrokey 3A NFC fails. Session on macOS looks like:

[code]

Most important part from debug log:

[code]

[2022-10-04 07:30] robin-nitrokey commented on #270
This bug has been fixed in pynitrokey v0.4.26.  Unfortunately, this version is not available on Arm systems yet because of a missing dependency, see https://github.com/Nitrokey/pynitrokey/issues/265.  We are currently investigating possible workarounds.  In the meantime, can you try installing pynitrokey with Rosetta (along the lines of [this guide](https://stackoverflow.com/questions/71691598/how

[2022-10-04 09:09] leitmedium commented on #270
Hi Robin,

thanks for the reply. I successfully deployed the update with version 0.4.28 on x86.

Closing the ticket.

[2022-10-04 09:09] #270 closed

[2022-10-06 12:57] hase77 opened #272 "nitropy on Windows does not work"
Tried my just received nitrokey3 with nitropy version 0.4.29 with Windows11 22H2:

<details>

<summary>Logs </summary>

[code]

[code]

</details>

No documentation found what additional libraries should be installed.

[2022-10-06 16:57] Gisi0 opened #273 "Dependencies for pipx installation (Debian Linux)"
Please list the dependencies you need to install on a clean Debian Linux. I mean there was a libsd...dev I have to install and something else.

Thank you

[2022-10-07 07:11] robin-nitrokey commented on #273
These build dependencies were introduced by a new dependency in v0.4.28.  To make installation easier, we are going to make that dependency optional in the next release so that end users are not affected by it.

[2022-10-10 14:35] robin-nitrokey commented on #273
For the record, the required dependencies are: `swig gcc libpcsclite-dev libpython3.9-dev`.

[2022-10-10 15:30] hase77 commented on #272
I also tried the non-exe python version, as admin and non-admin user, but with the same result.

[2022-10-10 15:37] robin-nitrokey commented on #272
@hase77 Does this only happen if a Nitrokey 3 device is connected or even without one?  Does `nitropy nk3 list` work?

[2022-10-10 16:22] hase77 commented on #272
No difference if the key is connected or not. nitropy nk3 list has the same error, as all nk3 other commands like update, test etc..

And I tried to remove almost all other usb devices if one of them cause the problem. Even another keyboard. But nope.

[2022-10-13 07:21] #273 closed

[2022-10-13 09:39] Niklap97 commented on #272
@hase77, @robin-nitrokey
I get a similar error and log when i run `nitropy-0.4.29.exe` without admin privileges.
Running the shell as admin fixes it for me.

[2022-10-13 12:12] hase77 commented on #272
@Niklap97
Strange. I tried both, as normal user and as adminstrator. No difference. And just in case I tried Windows Terminal and cmd.exe to see if there is a difference.

[2022-10-14 05:14] hase77 commented on #272
Really weird. I just noticed running as normal user or adminstrator makes a difference. As admin user the version, test or update functions are "working", but the error message stays.

[code]

[2022-10-14 06:50] szszszsz commented on #272
It's a logging error, coming from the cp1252 charmap. Nothing important in this case, but should be fixed anyway. Why utf-8 is not used in the first place?

[2022-10-14 06:58] robin-nitrokey commented on #272
So we are seeing two different errors here:
- The one with `UnicodeEncodeError: 'charmap' codec can't encode characters in position 70-72: character maps to <undefined>` always occurs and is caused by the log message in `libusbsio`.  It clutters the output but it is not critical.  I will report it to upstream via mail.
- But there also is this snippet which indicates a permissions error.  This one

[2022-10-14 07:01] hase77 commented on #272
Ok, then nitrpy with admin rights works on windows. But with an misleading message. Maybe nitropy can check for runnning as administrator on windows?

[2022-10-14 07:14] robin-nitrokey commented on #272
I’m not sure whether execution as a regular user always fails or if it depends on the configuration.  @szszszsz Do you know more about that?  And unfortunately, we cannot detect this error during device enumeration because it is discarded by the `fido2` library.

I’ve tried to fix the encoding error by enforcing UTF-8 for the log file in [this patch](https://github.com/Nitrokey/pynitrokey/pull/276

[2022-10-14 07:19] szszszsz commented on #272
That depends on the device, but accessing FIDO2 devices (and all its subdevices shall it have any) directly is excluded for non-Admin user since Windows 10 (instead the WinAPI usage is encourage).

AFAIR detecting whether user has Admin privileges should be easy. @robin-nitrokey can you add that as well?

[2022-10-14 07:55] robin-nitrokey commented on #272
@szszszsz For which subcommands would you add the check?  At least `nethsm` does not need admin privileges.

[2022-10-14 08:51] szszszsz commented on #272
All concerning FIDO2 devices on Windows are a must (`fido2` and `nk3`). I do not think this is needed for other.

[2022-10-16 14:02] hase77 commented on #272
Found by coincidence the usb device which is causing the misleading error message. It's the virtual usb-c connector from the nvidia 2060 gfx card. I switch to my old nvidia 970 without "usb-controller" and no error message.

[2022-10-17 07:21] #272 closed

[2022-10-17 09:21] szszszsz commented on #272
That's weird indeed. Either way, this should be fixed in the 0.4.31 release.

[2022-10-20 00:16] devnull09 opened #279 "Device status information"
There seems to be no way to list the currently stored keys on a device, like e.g. the number of stored residential keys.
If possible, this would be quite useful especially to find out of there is still space available  for additional keys.
No idea what happens when a user tries to store more then 50 residential keys on a Nitrokey Fido2 device for example and it would be good to have a way to find

[2022-10-20 08:32] szszszsz commented on #279
In general you can manage RKs through Google Chrome / Chromium browsers.
I agree it would be nice to have it in the Nitrokey provided tool. We have a solution, that needs to be finished yet:
- https://github.com/Nitrokey/pynitrokey/pull/216

cc @daringer

[2022-10-20 18:25] runcom commented on #265
@robin-nitrokey is there any known workaround?

[2022-10-20 18:30] robin-nitrokey commented on #265
Yes.  You should be able to install Python and pynitrokey in a Rosetta terminal (see e. g. [this discussion](https://stackoverflow.com/questions/71691598/how-to-run-python-as-x86-with-rosetta2-on-arm-macos-machine)).  Or you could build `pc_ble_driver_py` and `pc_ble_driver_py` from source and install the wheel with `pip` before installing `pynitrokey` (as described in [this comment](https://githu

[2022-10-20 19:23] #267 closed

[2022-11-02 12:27] sdlarsen opened #281 "Running fails in a python 3.10 venv"
Creating a venv with python3.10 -m venv and installing pynitrokey there works (it fails on my default 3.11)

Installed with `pip install pynitro`

When running, I get this:
`(pynitro) ╭─sdl@tux ~/projects/sdl/pynitro
╰─➤  pynitro
Traceback (most recent call last):
  File "/home/sdl/projects/sdl/venv/pynitro/bin/pynitro", line 5, in <module>
    from pynitro.main import app
  File "/home/sdl/projec

[2022-11-02 12:33] sdlarsen commented on #281
Will remove this as install fails. Will create another issue on that.

[2022-11-02 12:33] #281 closed

[2022-11-02 12:47] sdlarsen opened #282 "Install fails with subtle errors when tmp is mounted noexec"
Hi.

Had difficulties getting pynitrokey to install in a virtual environment (Python 3.11, with cython installed):
[code]

It turns out that this is due to /tmp being mounted noexec. Pointing TEMP elsewhere for the install, makes it run smoothly. This might save someone else a bit of time :)

[2022-11-03 11:40] WebSchw opened #283 "Update pynitrokey installation"
Using the installation as shown in the README doesn't give me the newest files as shown in this repo.

The issue that remained lied with the FIDO2 test which was still passing the PIN variable to "make_credential()".

I manually solved it by replacing the code in the respective test.py

I assume some repo that is called during the installation process needs to be refreshed - but dunno tbh.

[2022-11-03 11:53] robin-nitrokey commented on #283
Please share the output of these commands:

[code]

[2022-11-03 11:59] WebSchw commented on #283
[code]

Python 3.9 is installed but seems to be ignored by nitropy or at least it is not clear how to provide the python version.

[2022-11-03 12:00] robin-nitrokey commented on #283
Yes, the original bug is fixed in newer pynitrokey versions but these require Python 3.9.  How did you install pynitrokey?

[2022-11-03 12:02] WebSchw commented on #283
I tried `pipx install pynitrokey` like suggested on main page but also `pip3 install pynitrokey` (which probably relies on Pyhton3.7)
Is there an extra pip command for 3.9?

[2022-11-03 12:03] robin-nitrokey commented on #283
Probably `pipx` defaults to `python3` which is v3.7.  You can try explicitly setting the python executable with:

[code]

[2022-11-03 12:08] WebSchw commented on #283
Yes that helped. Thanks, can be closed.

[2022-11-03 12:12] #283 closed

[2022-11-04 08:03] noerw opened #284 "Improve docs of `nitropy nk3 fetch-update --variant` flag"
I have no idea which variant I need for my keys. Even looking at the source code where the USB IDs for the variants are specified it remains unclear, as I don't know how to put the key into bootloader mode.
https://github.com/Nitrokey/pynitrokey/blob/fbb93c6061c7559ace33edca4fbc5b88e21f888a/pynitrokey/nk3/__init__.py#L16-L19

Aside: my use case is actually just to check what the latest available f

[2022-11-04 09:38] robin-nitrokey opened #285 "nk3: Add `list-updates` subcommand"

[2022-11-04 09:41] robin-nitrokey commented on #284
There is a confirmation prompt before the `update` subcommand applies the update so there is no harm in executing it to check whether your firmware is up to date.  Also note that we always make firmware release for all variants.  So you can just check the [GitHub releases](https://github.com/Nitrokey/pynitrokey/releases) to see if there is a new release.  It would make sense to have this as a sepa

[2022-11-04 09:42] robin-nitrokey commented on #284
Maybe we could also have a `check-update` subcommand that only performs the check.

[2022-11-26 19:22] monwarez commented on #265
This also block FreeBSD support to pynitrokey 0.4.25 (with local patches for libusbio 2.1.11, and a minimal patches for nitropy to launch on FreeBSD)